<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CommonServiceLocator" version="1.0" targetFramework="net40" />
  <package id="Fody" version="1.16.2.0" targetFramework="net40" />
  <package id="GitFlowVersion.Fody" version="0.1.16" targetFramework="net40" />
  <package id="log4net" version="1.2.10" targetFramework="net40" />
  <package id="Obsolete.Fody" version="2.3.0" targetFramework="net40" />
</packages>