<!DOCTYPE html>
<html lang="en" ng-app>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <style type="text/css">
        body {
            font-family: Calibri, sans;
        }
        legend
        {
            font-size: 21px;
            font-weight: bold;
            color: #333;
            background-color: #f5f5f5;
            border: 1px solid #ddd;
            padding-left: 5px;
            padding-right: 5px;
            width: auto;
        }
    </style>
    <script src="~/Content/js/angular.min.js" type="text/javascript"></script>
    <script src="~/Content/js/jquery-1.8.3.min.js" type="text/javascript"></script>
    <script src="~/Content/js/jquery.signalR-1.0.0.min.js" type="text/javascript"></script>
    <script src="~/signalr/hubs" type="text/javascript"></script>
    <link href="~/Content/css/bootstrap-responsive.min.css" rel="stylesheet" media="screen">
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="/Content/js/html5.js"></script>
    <![endif]-->
    @RenderSection("head", required: false)
  </head>
    <body>
        <div class="navbar navbar-inverse">
          <div class="navbar-inner"> 
              <div class="container">
                  <a class="brand" href="http://particular.net"><img src="http://particular.blob.core.windows.net/media/Default/images/Particular_black.png" alt="NServiceBus" /></a>
                  <ul class="nav pull-right">
                    <li><a href="http://particular.net/documentation/nservicebus">Documentation</a></li>
                    <li><a href="http://particular.net/DiscussionGroup">Discussion Group</a></li>
                    <li><a href="http://particular.net/onsite-training">Training</a></li>
                  </ul>
              </div>
          </div>
        </div>

        <div class="container" ng-controller="VideoCtrl">
            @RenderBody()
        </div>
        <script src="~/Content/js/bootstrap.min.js"></script>
    </body>
</html>