<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Fragment>
		<Property Id="ARPCOMMENTS" Value="The most popular open-source service bus for .Net" />
		<Property Id="ARPPRODUCTICON" Value="icon.ico" />
		<Property Id="ARPREADME" Value="http://nservicebus.com/Downloads.aspx" />
		<Property Id="ARPURLINFOABOUT" Value="http://www.nservicebus.com/" />
		<Property Id="ARPURLUPDATEINFO" Value="http://www.nservicebus.com/Downloads.aspx" />
		<Property Id="ARPHELPLINK" Value="http://www.nservicebus.com/About.aspx" />
		<Property Id="ARPSIZE" Value="3" />

		<!--
		<Property Id="ARPNOMODIFY" Value="0" />
		<Property Id="ARPNOREPAIR" Value="0" />
		<Property Id="ARPNOREMOVE" Value="0" />
		<Property Id="ARPSYSTEMCOMPONENT" Value="0" />
		-->

		<Icon Id="icon.ico" SourceFile="icon.ico" />


		<!-- Set up ARPINSTALLLOCATION property -->
		<CustomAction Id="SetARPINSTALLLOCATION" Property="ARPINSTALLLOCATION" Value="[INSTALLLOCATION]" />

		<!-- Sequences -->
		<InstallExecuteSequence>
			<Custom Action="SetARPINSTALLLOCATION" After="InstallValidate"></Custom>
		</InstallExecuteSequence>
	</Fragment>
</Wix>