<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <DirectoryRef Id="APPLICATIONFOLDER">
            <Directory Id="dirD0156A2896BAE0C8DC8204DD22D4753E" Name="Binaries">
                <Component Id="cmpAB3F9285F3AC14479F6DF70A508202E5" Guid="*">
                    <File Id="fil8FBCE0CA6B1766CFCAB7141B713A1D06" KeyPath="yes" Source="$(var.SOURCEPATH.BINARIES)\log4net.dll" />
                </Component>
                <Component Id="cmp5CCBCA466BE46288E6C9697B51C81695" Guid="*">
                    <File Id="filE9469D4AAE730977E284D8542BC23749" KeyPath="yes" Source="$(var.SOURCEPATH.BINARIES)\log4net.xml" />
                </Component>
                <Component Id="cmpF41B0982919033B69B08194CAF6C85B8" Guid="*">
                    <File Id="fil06366CC8430E68296174AE9FB4C9523E" KeyPath="yes" Source="$(var.SOURCEPATH.BINARIES)\NServiceBus.Azure.dll" />
                </Component>
                <Component Id="cmpB66AE20FC4A4E2E8BD0790A4439534FC" Guid="*">
                    <File Id="fil5D80583FED813A60E0CBE1A2485A5B92" KeyPath="yes" Source="$(var.SOURCEPATH.BINARIES)\NServiceBus.Azure.pdb" />
                </Component>
                <Component Id="cmp7877C200BEBA31489066F20E31AEBA81" Guid="*">
                    <File Id="filB5294D555F1434C98E496BAA8604187B" KeyPath="yes" Source="$(var.SOURCEPATH.BINARIES)\NServiceBus.Azure.XML" />
                </Component>
                <Component Id="cmp70C98917D7141B38FF55F9547A7928E6" Guid="*">
                    <File Id="filE7AE05E298F0ED715A568E353EF908D3" KeyPath="yes" Source="$(var.SOURCEPATH.BINARIES)\NServiceBus.Core.dll" />
                </Component>
                <Component Id="cmp8E58D02CED2CF7909158FBE5114F6639" Guid="*">
                    <File Id="fil03808ABEF475ACB2A4EA309002210B8B" KeyPath="yes" Source="$(var.SOURCEPATH.BINARIES)\NServiceBus.Core.pdb" />
                </Component>
                <Component Id="cmp428881BCCAAF1F529B3C5AE891930B91" Guid="*">
                    <File Id="fil1D28BB0379232043A00DF87981010F5F" KeyPath="yes" Source="$(var.SOURCEPATH.BINARIES)\NServiceBus.Core.xml" />
                </Component>
                <Component Id="cmp63EF180AC871F87B23237ED738A4A9FB" Guid="*">
                    <File Id="fil5CC4E5FD55B869C251C8E6A20D519181" KeyPath="yes" Source="$(var.SOURCEPATH.BINARIES)\NServiceBus.dll" />
                </Component>
                <Component Id="cmp1E72C15F32C52F28301795730EB81F17" Guid="*">
                    <File Id="fil5E910F6DE120834866BC6119AD1A0B33" KeyPath="yes" Source="$(var.SOURCEPATH.BINARIES)\NServiceBus.Host.exe" />
                </Component>
                <Component Id="cmp50AA45E33A5EFC238E9ABDA2A6EACA8A" Guid="*">
                    <File Id="fil8C0212338153428F8112B7C3D061542A" KeyPath="yes" Source="$(var.SOURCEPATH.BINARIES)\NServiceBus.Host.pdb" />
                </Component>
                <Component Id="cmp1801BB8AE51A4AF2B36AD40AD1F682F2" Guid="*">
                    <File Id="fil17E800004A07F787E7249BEF001F8784" KeyPath="yes" Source="$(var.SOURCEPATH.BINARIES)\NServiceBus.Host.xml" />
                </Component>
                <Component Id="cmp157AFC68605DC53F0B69C0CC914D46FD" Guid="*">
                    <File Id="filD8E5056F149A8D4BEA36A8E813734598" KeyPath="yes" Source="$(var.SOURCEPATH.BINARIES)\NServiceBus.Host32.exe" />
                </Component>
                <Component Id="cmp677B125153F1EB4AFD65A1E1D0D288F7" Guid="*">
                    <File Id="filF99812A84323A7D722595227DD0CA89E" KeyPath="yes" Source="$(var.SOURCEPATH.BINARIES)\NServiceBus.Host32.pdb" />
                </Component>
                <Component Id="cmp09A34D8E4AB9296EEA0CC26AEF40E0B4" Guid="*">
                    <File Id="fil88CD7FA1EAA464213CB2574DD706D57E" KeyPath="yes" Source="$(var.SOURCEPATH.BINARIES)\NServiceBus.Host32.xml" />
                </Component>
                <Component Id="cmp8AF2FEB449A0A274E90EC3D62B1D22AE" Guid="*">
                    <File Id="fil9E624960D2A40BCB3D0A18578356CDFC" KeyPath="yes" Source="$(var.SOURCEPATH.BINARIES)\NServiceBus.Hosting.Azure.dll" />
                </Component>
                <Component Id="cmp78F3B594CB0BD4FA5760D0A054F04733" Guid="*">
                    <File Id="fil8E7C6860AA0AEB9C2008F84091920B14" KeyPath="yes" Source="$(var.SOURCEPATH.BINARIES)\NServiceBus.Hosting.Azure.HostProcess.exe" />
                </Component>
                <Component Id="cmp5A17A91799EFDAC0EC12DBA7A46297C3" Guid="*">
                    <File Id="filCD1A3C5F217163059B7D987CADDDEC27" KeyPath="yes" Source="$(var.SOURCEPATH.BINARIES)\NServiceBus.Hosting.Azure.HostProcess.pdb" />
                </Component>
                <Component Id="cmp418355D5ADA785CA17FE3A0D4867598E" Guid="*">
                    <File Id="fil59DDC531B5A7767625ED9EFCB3B57D39" KeyPath="yes" Source="$(var.SOURCEPATH.BINARIES)\NServiceBus.Hosting.Azure.HostProcess.xml" />
                </Component>
                <Component Id="cmp4BACAEBEE99F82E7E41AA2DA4B29CBA4" Guid="*">
                    <File Id="filDF2387EE9FE90D4D2D375F2763C12AEE" KeyPath="yes" Source="$(var.SOURCEPATH.BINARIES)\NServiceBus.Hosting.Azure.pdb" />
                </Component>
                <Component Id="cmpC839C48EFB6C8DE9DA65CD9CD32E244A" Guid="*">
                    <File Id="filFBAE5A4902F35E816F7E8B3A2528AAB7" KeyPath="yes" Source="$(var.SOURCEPATH.BINARIES)\NServiceBus.Hosting.Azure.XML" />
                </Component>
                <Component Id="cmp4476CEBDA0673323C1DAC8FE57045819" Guid="*">
                    <File Id="filE06F7939BFFF66CA976033A2499C7A78" KeyPath="yes" Source="$(var.SOURCEPATH.BINARIES)\NServiceBus.NHibernate.dll" />
                </Component>
                <Component Id="cmp9FD1C7908C203A05E0CEEE1C63818280" Guid="*">
                    <File Id="fil037378BA310C1BC0A0A2B9606891E127" KeyPath="yes" Source="$(var.SOURCEPATH.BINARIES)\NServiceBus.NHibernate.pdb" />
                </Component>
                <Component Id="cmpEB08C898D742FD6BAE51DF39DB38144A" Guid="*">
                    <File Id="fil85A546A717BE5F22FB3F664AA77212B5" KeyPath="yes" Source="$(var.SOURCEPATH.BINARIES)\NServiceBus.NHibernate.XML" />
                </Component>
                <Component Id="cmpCF4E902007D27851A9F451348EBD7CEA" Guid="*">
                    <File Id="fil0A136795CFCE71E41D0D5CCF97568109" KeyPath="yes" Source="$(var.SOURCEPATH.BINARIES)\NServiceBus.pdb" />
                </Component>
                <Component Id="cmpA5E3C5B84F1DD31A1824760850F3916A" Guid="*">
                    <File Id="filDE7B703AB0144775ED0A0B41D213BA14" KeyPath="yes" Source="$(var.SOURCEPATH.BINARIES)\NServiceBus.PowerShell.dll" />
                </Component>
                <Component Id="cmpC55F86728D5DB74764CFE484D7397636" Guid="*">
                    <File Id="filAA1E74C1279D6C2D00CE2F725F5BEBFA" KeyPath="yes" Source="$(var.SOURCEPATH.BINARIES)\NServiceBus.PowerShell.pdb" />
                </Component>
                <Component Id="cmpBFB60C42594B136FB164D10B11CC8B26" Guid="*">
                    <File Id="fil75775D41078CEA1047DC8C3688D10C4B" KeyPath="yes" Source="$(var.SOURCEPATH.BINARIES)\NServiceBus.Setup.Windows.dll" />
                </Component>
                <Component Id="cmp0675444CD5D9F5980FAF142481D519FD" Guid="*">
                    <File Id="fil5E1B5D4DE5E046BA959ABBD2E8321C7A" KeyPath="yes" Source="$(var.SOURCEPATH.BINARIES)\NServiceBus.Setup.Windows.pdb" />
                </Component>
                <Component Id="cmp44CD2EDF363F5FEA0D818329DA809B40" Guid="*">
                    <File Id="fil680996A6FE11987DE12D330047628C82" KeyPath="yes" Source="$(var.SOURCEPATH.BINARIES)\NServiceBus.Testing.dll" />
                </Component>
                <Component Id="cmp37E98BB9DAF00E57178D954AA4637A5E" Guid="*">
                    <File Id="filFC2F142893605ACFC8286EE466A6866D" KeyPath="yes" Source="$(var.SOURCEPATH.BINARIES)\NServiceBus.Testing.pdb" />
                </Component>
                <Component Id="cmp1A1EDF8790F8BF099DD5B370174E51C4" Guid="*">
                    <File Id="filC88D9351FAB5DD10B8C4ED5CE61E5623" KeyPath="yes" Source="$(var.SOURCEPATH.BINARIES)\NServiceBus.Testing.XML" />
                </Component>
                <Component Id="cmpFD95AEBD47C2CF4684F66F21479342E8" Guid="*">
                    <File Id="filEACAEE3F1E425E90B03E7F733B311F0B" KeyPath="yes" Source="$(var.SOURCEPATH.BINARIES)\NServiceBus.Timeout.Hosting.Azure.dll" />
                </Component>
                <Component Id="cmp013BB082FF4F46EB4A06424D8C43893B" Guid="*">
                    <File Id="filE4987442FCA8F1B468B72C1CA09217D0" KeyPath="yes" Source="$(var.SOURCEPATH.BINARIES)\NServiceBus.Timeout.Hosting.Azure.dll.config" />
                </Component>
                <Component Id="cmp42B4973770B8AF64F2CFCACCFF01D962" Guid="*">
                    <File Id="filDEFE7D9133E8EC1E75C920068E4DC637" KeyPath="yes" Source="$(var.SOURCEPATH.BINARIES)\NServiceBus.Timeout.Hosting.Azure.pdb" />
                </Component>
                <Component Id="cmp9802C94E6EF4513BDB0013D500FFA5A2" Guid="*">
                    <File Id="fil1C983FBD57A7BEC24621D3507C77862A" KeyPath="yes" Source="$(var.SOURCEPATH.BINARIES)\NServiceBus.Timeout.Hosting.Azure.XML" />
                </Component>
                <Component Id="cmp66E842B1CA55A962DBA830360F12910E" Guid="*">
                    <File Id="fil3A9EFE546058CA778AE840450431D93D" KeyPath="yes" Source="$(var.SOURCEPATH.BINARIES)\NServiceBus.XML" />
                </Component>
                <Directory Id="dirE4880291F6DB0D36C93C6B53247E6946" Name="containers">
                    <Directory Id="dirE7DB7ED51F397C5ED3767AFDA69C0A55" Name="autofac">
                        <Component Id="cmp930D5E95DFA529F0B8EE07C617713B9B" Guid="*">
                            <File Id="filBB0857A7CC600DBF9988B3A364D6AC31" KeyPath="yes" Source="$(var.SOURCEPATH.BINARIES)\containers\autofac\NServiceBus.ObjectBuilder.Autofac.dll" />
                        </Component>
                        <Component Id="cmpD0D26A54CBFD88D0D74B5BE0D4D4ADAD" Guid="*">
                            <File Id="filB353F2C94D42D45107CB647D264B5105" KeyPath="yes" Source="$(var.SOURCEPATH.BINARIES)\containers\autofac\NServiceBus.ObjectBuilder.Autofac.pdb" />
                        </Component>
                        <Component Id="cmpCC76928860AA9D4F74C11A4381EFD66C" Guid="*">
                            <File Id="filE74A40562E7C145E53A58957E1BB0BE4" KeyPath="yes" Source="$(var.SOURCEPATH.BINARIES)\containers\autofac\NServiceBus.ObjectBuilder.Autofac.XML" />
                        </Component>
                    </Directory>
                    <Directory Id="dirD108AFFFF28B626871CC212770D06CE7" Name="castle">
                        <Component Id="cmpD3FB3354EFF88F26B74BDA8EA8D1AB10" Guid="*">
                            <File Id="fil2896E82192F03906DCCEDEAB369F7FB2" KeyPath="yes" Source="$(var.SOURCEPATH.BINARIES)\containers\castle\NServiceBus.ObjectBuilder.CastleWindsor.dll" />
                        </Component>
                        <Component Id="cmp7646D5AEE66A7D8C53330305BEA03790" Guid="*">
                            <File Id="filB470905277E619DDFEAD8BE7A98E95FC" KeyPath="yes" Source="$(var.SOURCEPATH.BINARIES)\containers\castle\NServiceBus.ObjectBuilder.CastleWindsor.pdb" />
                        </Component>
                        <Component Id="cmp642D7F7C8D5B9FC1B1FB2C5BBAA8C341" Guid="*">
                            <File Id="filD45B2A9DD2E220B88683658F348643B3" KeyPath="yes" Source="$(var.SOURCEPATH.BINARIES)\containers\castle\NServiceBus.ObjectBuilder.CastleWindsor.XML" />
                        </Component>
                    </Directory>
                    <Directory Id="dirC1EF3D00D82201BAF78870573B7F95C8" Name="ninject">
                        <Component Id="cmpA05550E0A797FBAF25A9C35EEC8603FB" Guid="*">
                            <File Id="filC31EF8E9C640CDC3C79178A032DD322E" KeyPath="yes" Source="$(var.SOURCEPATH.BINARIES)\containers\ninject\NServiceBus.ObjectBuilder.Ninject.dll" />
                        </Component>
                        <Component Id="cmp060F6E91691609B92BB4A5814CEDF8F0" Guid="*">
                            <File Id="fil729E7669CB0878A5672E339ACC58DB1D" KeyPath="yes" Source="$(var.SOURCEPATH.BINARIES)\containers\ninject\NServiceBus.ObjectBuilder.Ninject.pdb" />
                        </Component>
                        <Component Id="cmpF13967160BD7DBA877AF37EE089FA6F6" Guid="*">
                            <File Id="fil480690A499E1D8E6F22BCAB7BDEF9F00" KeyPath="yes" Source="$(var.SOURCEPATH.BINARIES)\containers\ninject\NServiceBus.ObjectBuilder.Ninject.XML" />
                        </Component>
                    </Directory>
                    <Directory Id="dir6F942AA30C3EFD1041EF166AA1E0F942" Name="spring">
                        <Component Id="cmp53C76CE870A26267299BD30306BA9526" Guid="*">
                            <File Id="filCD6B1F2EF02B933BA9B4699CCF07EAAC" KeyPath="yes" Source="$(var.SOURCEPATH.BINARIES)\containers\spring\NServiceBus.ObjectBuilder.Spring.dll" />
                        </Component>
                        <Component Id="cmpD7D15A907F9769AEF9AB8FF654232D1F" Guid="*">
                            <File Id="fil65C9EE9E757DA08226D637B6C9CAE085" KeyPath="yes" Source="$(var.SOURCEPATH.BINARIES)\containers\spring\NServiceBus.ObjectBuilder.Spring.pdb" />
                        </Component>
                        <Component Id="cmp9F07496449DD6D209E18EB6685D18249" Guid="*">
                            <File Id="fil225BA6F4A518892BCE7298420F6298D0" KeyPath="yes" Source="$(var.SOURCEPATH.BINARIES)\containers\spring\NServiceBus.ObjectBuilder.Spring.XML" />
                        </Component>
                    </Directory>
                    <Directory Id="dirCD2194C192CF7F5B117F6DF0DBC5D35D" Name="structuremap">
                        <Component Id="cmp31FF66677344EFD6103308CA5549B53F" Guid="*">
                            <File Id="fil3E44856ED8398214F971F9A90FCE57E0" KeyPath="yes" Source="$(var.SOURCEPATH.BINARIES)\containers\structuremap\NServiceBus.ObjectBuilder.StructureMap.dll" />
                        </Component>
                        <Component Id="cmpB2415A0B25AB56B4C0572EC22B283AB4" Guid="*">
                            <File Id="fil12673ACFCB558084EDAEA210B3FB5295" KeyPath="yes" Source="$(var.SOURCEPATH.BINARIES)\containers\structuremap\NServiceBus.ObjectBuilder.StructureMap.pdb" />
                        </Component>
                        <Component Id="cmp9523CFB2CF68D5BAB37E7A2D6BA4D47F" Guid="*">
                            <File Id="fil19F22B488FB2369FBB648E77E2E6032C" KeyPath="yes" Source="$(var.SOURCEPATH.BINARIES)\containers\structuremap\NServiceBus.ObjectBuilder.StructureMap.XML" />
                        </Component>
                    </Directory>
                    <Directory Id="dirFF7CE2F9C81BB3A2353096B5C62F1FEB" Name="unity">
                        <Component Id="cmp7A693E36F136C4EC85B242B1BB64100A" Guid="*">
                            <File Id="filCE5BED849C346F45CCC3815DD69D35A4" KeyPath="yes" Source="$(var.SOURCEPATH.BINARIES)\containers\unity\NServiceBus.ObjectBuilder.Unity.dll" />
                        </Component>
                        <Component Id="cmp008CCD88E22824D4CD62418AD6DFDBC2" Guid="*">
                            <File Id="filCBD7AE1E41A3052FE22918095ACB9C24" KeyPath="yes" Source="$(var.SOURCEPATH.BINARIES)\containers\unity\NServiceBus.ObjectBuilder.Unity.pdb" />
                        </Component>
                        <Component Id="cmp3F483E9CA9E6C3E1C57E77D65A940CC8" Guid="*">
                            <File Id="filD1B96E2DC84ABE5DF1C550B5F42A8625" KeyPath="yes" Source="$(var.SOURCEPATH.BINARIES)\containers\unity\NServiceBus.ObjectBuilder.Unity.XML" />
                        </Component>
                    </Directory>
                </Directory>
            </Directory>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <ComponentGroup Id="BinaryFiles">
            <ComponentRef Id="cmpAB3F9285F3AC14479F6DF70A508202E5" />
            <ComponentRef Id="cmp5CCBCA466BE46288E6C9697B51C81695" />
            <ComponentRef Id="cmpF41B0982919033B69B08194CAF6C85B8" />
            <ComponentRef Id="cmpB66AE20FC4A4E2E8BD0790A4439534FC" />
            <ComponentRef Id="cmp7877C200BEBA31489066F20E31AEBA81" />
            <ComponentRef Id="cmp70C98917D7141B38FF55F9547A7928E6" />
            <ComponentRef Id="cmp8E58D02CED2CF7909158FBE5114F6639" />
            <ComponentRef Id="cmp428881BCCAAF1F529B3C5AE891930B91" />
            <ComponentRef Id="cmp63EF180AC871F87B23237ED738A4A9FB" />
            <ComponentRef Id="cmp1E72C15F32C52F28301795730EB81F17" />
            <ComponentRef Id="cmp50AA45E33A5EFC238E9ABDA2A6EACA8A" />
            <ComponentRef Id="cmp1801BB8AE51A4AF2B36AD40AD1F682F2" />
            <ComponentRef Id="cmp157AFC68605DC53F0B69C0CC914D46FD" />
            <ComponentRef Id="cmp677B125153F1EB4AFD65A1E1D0D288F7" />
            <ComponentRef Id="cmp09A34D8E4AB9296EEA0CC26AEF40E0B4" />
            <ComponentRef Id="cmp8AF2FEB449A0A274E90EC3D62B1D22AE" />
            <ComponentRef Id="cmp78F3B594CB0BD4FA5760D0A054F04733" />
            <ComponentRef Id="cmp5A17A91799EFDAC0EC12DBA7A46297C3" />
            <ComponentRef Id="cmp418355D5ADA785CA17FE3A0D4867598E" />
            <ComponentRef Id="cmp4BACAEBEE99F82E7E41AA2DA4B29CBA4" />
            <ComponentRef Id="cmpC839C48EFB6C8DE9DA65CD9CD32E244A" />
            <ComponentRef Id="cmp4476CEBDA0673323C1DAC8FE57045819" />
            <ComponentRef Id="cmp9FD1C7908C203A05E0CEEE1C63818280" />
            <ComponentRef Id="cmpEB08C898D742FD6BAE51DF39DB38144A" />
            <ComponentRef Id="cmpCF4E902007D27851A9F451348EBD7CEA" />
            <ComponentRef Id="cmpA5E3C5B84F1DD31A1824760850F3916A" />
            <ComponentRef Id="cmpC55F86728D5DB74764CFE484D7397636" />
            <ComponentRef Id="cmpBFB60C42594B136FB164D10B11CC8B26" />
            <ComponentRef Id="cmp0675444CD5D9F5980FAF142481D519FD" />
            <ComponentRef Id="cmp44CD2EDF363F5FEA0D818329DA809B40" />
            <ComponentRef Id="cmp37E98BB9DAF00E57178D954AA4637A5E" />
            <ComponentRef Id="cmp1A1EDF8790F8BF099DD5B370174E51C4" />
            <ComponentRef Id="cmpFD95AEBD47C2CF4684F66F21479342E8" />
            <ComponentRef Id="cmp013BB082FF4F46EB4A06424D8C43893B" />
            <ComponentRef Id="cmp42B4973770B8AF64F2CFCACCFF01D962" />
            <ComponentRef Id="cmp9802C94E6EF4513BDB0013D500FFA5A2" />
            <ComponentRef Id="cmp66E842B1CA55A962DBA830360F12910E" />
            <ComponentRef Id="cmp930D5E95DFA529F0B8EE07C617713B9B" />
            <ComponentRef Id="cmpD0D26A54CBFD88D0D74B5BE0D4D4ADAD" />
            <ComponentRef Id="cmpCC76928860AA9D4F74C11A4381EFD66C" />
            <ComponentRef Id="cmpD3FB3354EFF88F26B74BDA8EA8D1AB10" />
            <ComponentRef Id="cmp7646D5AEE66A7D8C53330305BEA03790" />
            <ComponentRef Id="cmp642D7F7C8D5B9FC1B1FB2C5BBAA8C341" />
            <ComponentRef Id="cmpA05550E0A797FBAF25A9C35EEC8603FB" />
            <ComponentRef Id="cmp060F6E91691609B92BB4A5814CEDF8F0" />
            <ComponentRef Id="cmpF13967160BD7DBA877AF37EE089FA6F6" />
            <ComponentRef Id="cmp53C76CE870A26267299BD30306BA9526" />
            <ComponentRef Id="cmpD7D15A907F9769AEF9AB8FF654232D1F" />
            <ComponentRef Id="cmp9F07496449DD6D209E18EB6685D18249" />
            <ComponentRef Id="cmp31FF66677344EFD6103308CA5549B53F" />
            <ComponentRef Id="cmpB2415A0B25AB56B4C0572EC22B283AB4" />
            <ComponentRef Id="cmp9523CFB2CF68D5BAB37E7A2D6BA4D47F" />
            <ComponentRef Id="cmp7A693E36F136C4EC85B242B1BB64100A" />
            <ComponentRef Id="cmp008CCD88E22824D4CD62418AD6DFDBC2" />
            <ComponentRef Id="cmp3F483E9CA9E6C3E1C57E77D65A940CC8" />
        </ComponentGroup>
    </Fragment>
</Wix>