<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
        <DirectoryRef Id="INSTALLLOCATION">
          <Directory Id="dir6C038A0D9A9CF2FCB393FA6550B48598" Name="Docs">
            <Component Id="cmpB809BD32F4B1FF315CD8F902178A2728" Guid="{964830C1-7C26-40FF-BF09-94B4D9681B76}">
              <File Id="fil9BBD61090C6F0702115AC8DDAE0FC519" KeyPath="yes" Source="$(var.SOURCEPATH)\Docs\basic_pubsub.png" />
            </Component>
            <Component Id="cmp29C6F50AEC8EFE76F9C967C20EC60A35" Guid="{CE332B9F-5467-426E-805E-E65EF000A005}">
              <File Id="filECDC6794F3AEDD94FA142B13CB0E02F7" KeyPath="yes" Source="$(var.SOURCEPATH)\Docs\DistributedPubSub.pptx" />
            </Component>
            <Component Id="cmpD90181AFE3AC8718132DD9D6AA99B08E" Guid="{10DEDA85-6AE9-4466-B598-87C354353F19}">
              <File Id="fil9A0E339B3ADF936FF0317BC140B00C60" KeyPath="yes" Source="$(var.SOURCEPATH)\Docs\distributor.png" />
            </Component>
            <Component Id="cmpCBE37FE6173C8F5D16B9A42B62A62A12" Guid="{9B6352F6-5170-4748-B39F-FC70F8EE2E81}">
              <File Id="fil92C07290E50BD888A3B8DC997D1B92E1" KeyPath="yes" Source="$(var.SOURCEPATH)\Docs\Gateway.pptx" />
            </Component>
            <Component Id="cmp21905F893E82AF0B4B041084158117A6" Guid="{ECED0939-D8DA-4D14-943A-551A1C4F67DB}">
              <File Id="fil4720D239B56824C584C049044608DC32" KeyPath="yes" Source="$(var.SOURCEPATH)\Docs\multiple_publishers.png" />
            </Component>
            <Component Id="cmpAFC30D09713EA055E1D31A97DAFAEDB7" Guid="{C8A79189-1897-49CE-9A22-04449E48CD63}">
              <File Id="fil5D5878E101183D09CC2BD5266AFCFEB4" KeyPath="yes" Source="$(var.SOURCEPATH)\Docs\NServiceBus_Code_Snippets.snippet" />
            </Component>
            <Component Id="cmp124E6ED58ECA1E92F959683DAF9477ED" Guid="{01AEF577-F6DD-4202-807F-BB12BDA83FE9}">
              <File Id="fil5C168635CFB0A8A0CE848AA1393EB30A" KeyPath="yes" Source="$(var.SOURCEPATH)\Docs\NServiceBus_Code_Snippets.vscontent" />
            </Component>
            <Component Id="cmpB34C3C90546320C789F6DA0AB37C7367" Guid="{3F11F1A7-4958-46D5-964D-6D76F1DFF9E6}">
              <File Id="fil6A6A83E710042C6A8E2E84469950A9EE" KeyPath="yes" Source="$(var.SOURCEPATH)\Docs\Proxy.pptx" />
            </Component>
            <Component Id="cmp7BCC37D7DB04F455F0B0ED9D167941C2" Guid="{099695CA-0698-4E5A-B181-2FA52E952798}">
              <File Id="fil2BFB2529FB447EC8FAD512756A2EC005" KeyPath="yes" Source="$(var.SOURCEPATH)\Docs\xml_serializer_performance_comparison.png" />
            </Component>
          </Directory>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <ComponentGroup Id="DocFiles">
            <ComponentRef Id="cmpB809BD32F4B1FF315CD8F902178A2728" />
            <ComponentRef Id="cmp29C6F50AEC8EFE76F9C967C20EC60A35" />
            <ComponentRef Id="cmpD90181AFE3AC8718132DD9D6AA99B08E" />
            <ComponentRef Id="cmpCBE37FE6173C8F5D16B9A42B62A62A12" />
            <ComponentRef Id="cmp21905F893E82AF0B4B041084158117A6" />
            <ComponentRef Id="cmpAFC30D09713EA055E1D31A97DAFAEDB7" />
            <ComponentRef Id="cmp124E6ED58ECA1E92F959683DAF9477ED" />
            <ComponentRef Id="cmpB34C3C90546320C789F6DA0AB37C7367" />
            <ComponentRef Id="cmp7BCC37D7DB04F455F0B0ED9D167941C2" />
        </ComponentGroup>
    </Fragment>
</Wix>