<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
    <CustomAction Id="SetOpenURLWithStudio" Property="WixShellExecTarget" Value="http://www.nservicebus.com/MSI?studio=true" />
    <CustomAction Id="SetOpenURLWithoutStudio" Property="WixShellExecTarget" Value="http://www.nservicebus.com/MSI?studio=false" />
    <CustomAction Id="OpenURL" BinaryKey="WixCA" DllEntry="WixShellExec" Impersonate="yes" Return="ignore" />

    <InstallExecuteSequence>
      <Custom Action="SetOpenURLWithStudio" Before="InstallFinalize"><![CDATA[(&IDEINTEGRATION_VS2010_NSB_STUDIO=3) AND NOT (REMOVE="ALL")]]></Custom>
      <Custom Action="SetOpenURLWithoutStudio" Before="InstallFinalize"><![CDATA[(&IDEINTEGRATION_VS2010_NSB_STUDIO<>3) AND NOT (REMOVE="ALL")]]></Custom>
      <Custom Action="OpenURL" After="InstallFinalize"><![CDATA[NOT (REMOVE="ALL")]]></Custom>
    </InstallExecuteSequence>
  </Fragment>
</Wix>