<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:util="http://schemas.microsoft.com/wix/WixVSExtension">
  <Fragment>
    <Property Id="MSI" Value="false" Secure="yes"/>
    <Property Id="NUGET" Value="false" Secure="yes"/>

    <Property Id="NUGET_INSTALLED" Secure="yes">
      <RegistrySearch Id="NugetVS2010DevEnvForExtensionsSearch" Root="HKLM" Key="SOFTWARE\Microsoft\VisualStudio\10.0\Setup\VS" Name="EnvironmentDirectory" Type="raw">
        <DirectorySearch Id="VS2010ExtensionsFolderSearch" Path="Extensions" Depth="1">
          <DirectorySearch Id="MicrosoftCorp" Path="Microsoft Corporation" Depth="1">
            <DirectorySearch Id="Nuget" Path="NuGet Package Manager" Depth="1" />
          </DirectorySearch>
        </DirectorySearch>
      </RegistrySearch>
    </Property>
    <Property Id="NUGET_APPDATA_INSTALLED" Secure="yes">
      <DirectorySearch Id="LocalExtensionsFolderSearch" Path="[LocalAppDataFolder]\Microsoft\VisualStudio\10.0\Extensions\Microsoft\NuGet Package Manager" />
    </Property>

    <CustomAction Id="SetNuget" Property="NUGET" Value="true" />
    <CustomAction Id="SetMSI" Property="MSI" Value="true" />
    <CustomAction Id="SetURL" Property="WixShellExecTarget" Value="http://particular.net/Installation-completed?installer=NServiceBus&amp;version=3.3.8&amp;method=msi&amp;studio=[MSI]&amp;nuget=[NUGET]" />
    <CustomAction Id="OpenURL" BinaryKey="WixCA" DllEntry="WixShellExec" Impersonate="yes" Return="ignore" />

    <InstallExecuteSequence>
      <Custom Action="SetNuget" After="AppSearch">
        <![CDATA[NUGET_INSTALLED OR NUGET_APPDATA_INSTALLED]]>
      </Custom>
      <Custom Action="SetURL" Before="OpenURL"/>
      <Custom Action="SetMSI" Before="SetURL">
        <![CDATA[VS2010_IDE_VCSHARP_PROJECTSYSTEM_INSTALLED AND (&NSB_IDEINTEGRATION_VS2010_NSB_STUDIO=3)]]>
      </Custom>
      <Custom Action="OpenURL" After="InstallFinalize"><![CDATA[(UILevel<>2) AND (NOT (REMOVE="ALL"))]]></Custom>
    </InstallExecuteSequence>
  </Fragment>
</Wix>