<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Fragment>
    <Binary Id="NServiceBus.Wix.CustomActions.dll" SourceFile="$(var.NServiceBus.Wix.CustomActions.TargetDir)$(var.NServiceBus.Wix.CustomActions.TargetName).CA.dll" />
    <CustomAction Id="InstallMsmqAction" BinaryKey="NServiceBus.Wix.CustomActions.dll" DllEntry="InstallMsmq" Execute="deferred" Return="check" Impersonate="no" />
    <CustomAction Id="InstallRavenDbAction" BinaryKey="NServiceBus.Wix.CustomActions.dll" DllEntry="InstallRavenDb" Execute="deferred" Return="check" Impersonate="no" />
    <CustomAction Id="InstallDtcAction" BinaryKey="NServiceBus.Wix.CustomActions.dll" DllEntry="InstallDtc" Execute="deferred" Return="check" Impersonate="no" />
    <CustomAction Id="InstallPerformanceCountersAction" BinaryKey="NServiceBus.Wix.CustomActions.dll" DllEntry="InstallPerformanceCounters" Execute="deferred" Return="check" Impersonate="no" />
    <InstallExecuteSequence>
      <Custom Action="InstallDtcAction" Before="InstallFinalize"> <![CDATA[&Install_DTC=3]]> </Custom>
      <Custom Action="InstallMsmqAction" Before="InstallFinalize"> <![CDATA[&Install_MSMQ=3]]> </Custom>
      <Custom Action="InstallRavenDbAction" Before="InstallFinalize"> <![CDATA[&Install_RavenDb=3]]> </Custom>
      <Custom Action="InstallPerformanceCountersAction" Before="InstallFinalize"> <![CDATA[&Install_PerformanceCounters=3]]> </Custom>
    </InstallExecuteSequence>
	</Fragment>
</Wix>