<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
    <DirectoryRef Id="APPLICATIONFOLDER">
      <Component Id="cmp9E6EA2CB27E2101E2C2C2E9FBC6E0CEA" Guid="*">
        <File Id="filC992FB3C5AA035D71B1A28E79CAB43E1" Source="$(var.SOURCEPATH)\acknowledgements.txt" />
      </Component>
      <Component Id="cmpEC37ABD8B661E40B5C41E61CFE8C0002" Guid="*">
        <File Id="filC992FB3C5AA035D71B1A28E79CAB43E2" Source="$(var.SOURCEPATH)\README.md" />
      </Component>
      <Component Id="cmpEC37ABD8B661E40B5C41E54CFE8C0002" Guid="*">
        <File Id="filC992FB3C5AA035D71B1A28E54CAB43E2" Source="$(var.SOURCEPATH)\LICENSE.md" />
      </Component>
      <Component Id="cmp2F29FD088F4ABC076D32A5B3455E8242" Guid="*">
        <File Id="Welcome.html" Source="Welcome.html" />
      </Component>
    </DirectoryRef>
  </Fragment>
  <Fragment>
    <ComponentGroup Id="RootFiles">
      <ComponentRef Id="cmp9E6EA2CB27E2101E2C2C2E9FBC6E0CEA" />
      <ComponentRef Id="cmpEC37ABD8B661E40B5C41E61CFE8C0002" />
      <ComponentRef Id="cmp2F29FD088F4ABC076D32A5B3455E8242" />
      <ComponentRef Id="cmpEC37ABD8B661E40B5C41E54CFE8C0002" />
    </ComponentGroup>
  </Fragment>
</Wix>