<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Fragment>
    <Property Id="INSTALLSTARTMENUSHORTCUTS" Value="1" Secure="yes"/>

    <Property Id="POWERSHELLEXE">
      <RegistrySearch Id="POWERSHELLEXE" Root="HKLM" Key="SOFTWARE\Microsoft\PowerShell\1\ShellIds\Microsoft.PowerShell" Name="Path" Type="raw" />
    </Property>

    <DirectoryRef Id="ApplicationProgramsFolderNServiceBus">
      <Component Id="ApplicationShortcuts" Guid="{BBBB0CE8-74B4-4813-AF73-A1544231EEE0}">
        <Condition>INSTALLSTARTMENUSHORTCUTS</Condition>
        <Shortcut Id="NSBShortcut" Name="Welcome to $(var.PRODUCTNAME)" Icon="icon.ico" Description="Start page for $(var.PRODUCTNAME)" Target="[APPLICATIONFOLDER]Welcome.html" />
        <Shortcut Id="PowerShellShortcut" Name="$(var.PRODUCTNAME) Powershell Prompt" Description="$(var.PRODUCTNAME) Powershell Prompt" Target="[POWERSHELLEXE]" Arguments='-noexit -command "Import-Module [APPLICATIONFOLDER]Binaries\NServiceBus.PowerShell.dll | Out-Null"' />
        <RemoveFolder Id="ApplicationProgramsFolderNServiceBus" On="uninstall"/>
        <RegistryValue Root="HKCU" Key="Software\NServiceBus\$(var.VERSION)" Name="installed" Type="integer" Value="1" KeyPath="yes"/>
      </Component>
    </DirectoryRef>
	</Fragment>
</Wix>