<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <DirectoryRef Id="APPLICATIONFOLDER">
            <Directory Id="dir0ECB0CA8E092B591CA0FAFDE2769FA82" Name="Tools">
                <Component Id="cmpCC5A638591DF80C50B0EFE10C02F110C" Guid="*">
                    <File Id="fil485EC4DAE88F0469B44758CD31E40CF0" KeyPath="yes" Source="$(var.SOURCEPATH.TOOLS)\NServiceBus.Core.dll" />
                </Component>
                <Component Id="cmpD163607E6A9FB0F0735BB0D7CC02A778" Guid="*">
                    <File Id="fil9370B1C9B4922FCC28E05D2E5F98B862" KeyPath="yes" Source="$(var.SOURCEPATH.TOOLS)\NServiceBus.dll" />
                </Component>
                <Component Id="cmpEA41448A8D51ACBC5F0C8CCE700CD47A" Guid="*">
                    <File Id="fil5C07D432ABA02F303A86A9E89F4424B9" KeyPath="yes" Source="$(var.SOURCEPATH.TOOLS)\ReturnToSourceQueue.exe" />
                </Component>
                <Component Id="cmp372CD167350456C352E7D371173881E9" Guid="*">
                    <File Id="fil28B66CEE914BF6D043A5969C261CCD76" KeyPath="yes" Source="$(var.SOURCEPATH.TOOLS)\XsdGenerator.exe" />
                </Component>
                <Directory Id="dirD4D717F172B3CF5B4A4F5F1AFBE6E37E" Name="licenseinstaller">
                    <Component Id="cmp924D5A6FE9855EC1385F4E773084B97B" Guid="*">
                        <File Id="fil234A1B130B468051EF14AC1F60DCF5EE" KeyPath="yes" Source="$(var.SOURCEPATH.TOOLS)\licenseinstaller\LicenseInstaller.exe" />
                    </Component>
                </Directory>
                <Directory Id="dir72179D94A6400E112F1BF61EBE31BF1D" Name="migration">
                    <Component Id="cmp38DC2144865CC629244ACE7C89769499" Guid="*">
                        <File Id="filB09047E95D967541C4B328DD8C1A1F77" KeyPath="yes" Source="$(var.SOURCEPATH.TOOLS)\migration\NServiceBus.Compatibility.dll" />
                    </Component>
                    <Component Id="cmp5F9FCFC68FB759F2F34105B29585F28F" Guid="*">
                        <File Id="filC32F3216B19BE3675B3C84EA27D90E7A" KeyPath="yes" Source="$(var.SOURCEPATH.TOOLS)\migration\NServiceBus.Core.dll" />
                    </Component>
                    <Component Id="cmpD0C5EB4E3336E6E7D40A7CCE07E899D6" Guid="*">
                        <File Id="fil1534E0DC27A080235D4A7572EA770154" KeyPath="yes" Source="$(var.SOURCEPATH.TOOLS)\migration\NServiceBus.dll" />
                    </Component>
                    <Component Id="cmp7353F6F84CE58DEC595A521755D93943" Guid="*">
                        <File Id="fil9BAA6D90BD4E5227699B625F83946BAA" KeyPath="yes" Source="$(var.SOURCEPATH.TOOLS)\migration\TimeoutMigrator.exe" />
                    </Component>
                </Directory>
            </Directory>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <ComponentGroup Id="ToolsFiles">
            <ComponentRef Id="cmpCC5A638591DF80C50B0EFE10C02F110C" />
            <ComponentRef Id="cmpD163607E6A9FB0F0735BB0D7CC02A778" />
            <ComponentRef Id="cmpEA41448A8D51ACBC5F0C8CCE700CD47A" />
            <ComponentRef Id="cmp372CD167350456C352E7D371173881E9" />
            <ComponentRef Id="cmp924D5A6FE9855EC1385F4E773084B97B" />
            <ComponentRef Id="cmp38DC2144865CC629244ACE7C89769499" />
            <ComponentRef Id="cmp5F9FCFC68FB759F2F34105B29585F28F" />
            <ComponentRef Id="cmpD0C5EB4E3336E6E7D40A7CCE07E899D6" />
            <ComponentRef Id="cmp7353F6F84CE58DEC595A521755D93943" />
        </ComponentGroup>
    </Fragment>
</Wix>