<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:util="http://schemas.microsoft.com/wix/WixVSExtension">
  <Fragment>
    <DirectoryRef Id="APPLICATIONFOLDER">
      <Directory Id="dir6C038A0D9A9C88FCB393FA6550B48592" Name="Tools">
        <Component Id="cmpC5896C88B51A4450471FF45254C9290B" Guid="{7B15648A-1A3F-4F88-BA22-203B23189553}">
          <File Id="NServiceBusStudio.vsix" KeyPath="yes" Source="$(var.VSIXPATH)\NServiceBusStudio.vsix" />
        </Component>
      </Directory>
    </DirectoryRef>
  </Fragment>
  <Fragment>
    <ComponentGroup Id="VSIXFiles">
      <ComponentRef Id="cmpC5896C88B51A4450471FF45254C9290B" />
    </ComponentGroup>
  </Fragment>
  <Fragment>
    <PropertyRef Id="VS2010_IDE_VCSHARP_PROJECTSYSTEM_INSTALLED"/>
    <Property Id="VS2010_VSIXINSTALLER">
      <RegistrySearch Id="VS2010DevEnvForExtensionsSearch" Type="directory" Root="HKLM" Key="SOFTWARE\Microsoft\VisualStudio\10.0\Setup\VS" Name="EnvironmentDirectory">
        <DirectorySearch Id="VS2010DevEnv">
          <FileSearch Name="VSIXInstaller.exe" />
        </DirectorySearch>
      </RegistrySearch>
    </Property>

    <CustomAction Id="CA_SetMyVsixInstallCommand" Property="MYVSIX_INSTALL_COMMAND" Value="&quot;[#NServiceBusStudio.vsix]&quot;" />
    <CustomAction Id="CA_InstallMyVsix_2010" Property="VS2010_VSIXINSTALLER" ExeCommand="/q [MYVSIX_INSTALL_COMMAND]" Execute="deferred" Return="ignore" Impersonate="no" />

    <InstallExecuteSequence>
      <Custom Action="CA_SetMyVsixInstallCommand" After="InstallInitialize">
        <![CDATA[VS2010_IDE_VCSHARP_PROJECTSYSTEM_INSTALLED]]>
      </Custom>
      <Custom Action="CA_InstallMyVsix_2010" Before="InstallFinalize">
        <![CDATA[VS2010_IDE_VCSHARP_PROJECTSYSTEM_INSTALLED AND VS2010_VSIXINSTALLER AND (&IDEINTEGRATION_VS2010_NSB_STUDIO=3) AND NOT (REMOVE="ALL")]]>
      </Custom>
    </InstallExecuteSequence>
  </Fragment>
</Wix>