<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="MessageForwardingInCaseOfFaultConfig" type="NServiceBus.Config.MessageForwardingInCaseOfFaultConfig, NServiceBus.Core" />
    <section name="UnicastBusConfig" type="NServiceBus.Config.UnicastBusConfig, NServiceBus.Core"/>
    <section name="TransportConfig" type="NServiceBus.Config.TransportConfig, NServiceBus.Core" />
    <section name="AuditConfig" type="NServiceBus.Config.AuditConfig, NServiceBus.Core"/>
  </configSections>

  <MessageForwardingInCaseOfFaultConfig ErrorQueue="error"/>
  
  <!--Audit Configuration has been moved from UnicastBusConfig to AuditConfig. 
  <AuditConfig QueueName="The address to which messages received will be forwarded."
    OverrideTimeToBeReceived="The time to be received set on forwarded messages, specified as a timespan see http://msdn.microsoft.com/en-us/library/vstudio/se73z7b9.aspx"  /> -->
  <AuditConfig QueueName="audit" />

  <UnicastBusConfig>
    <MessageEndpointMappings>
      <add Assembly="MyMessages" Namespace="MyMessages.Subscriber1" Endpoint="Subscriber1"/>
      <add Assembly="MyMessages" Namespace="MyMessages.Subscriber2" Endpoint="Subscriber2"/>
      <add Assembly="MyMessages" Namespace="MyMessages.SubscriberNMS" Endpoint="SubscriberNMS"/>
      <add Assembly="MyMessages" Namespace="MyMessages.DataBus" Endpoint="Subscriber1"/>
    </MessageEndpointMappings>
  </UnicastBusConfig>
  <TransportConfig MaximumConcurrencyLevel="2" MaxRetries="3"/>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Common.Logging"
                          publicKeyToken="af08829b84f0328e"
                          culture="neutral" />
        <bindingRedirect oldVersion="1.2.0.0"
                         newVersion="2.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

  <system.net>
    <mailSettings>
      <smtp
      deliveryMethod="SpecifiedPickupDirectory"
      from="ben@contoso.com">
      <specifiedPickupDirectory pickupDirectoryLocation="C:\Mails" />
      </smtp>
      </mailSettings>
    </system.net>
  
  </configuration>
