<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="MessageForwardingInCaseOfFaultConfig" type="NServiceBus.Config.MessageForwardingInCaseOfFaultConfig, NServiceBus.Core" />
  </configSections>

  <connectionStrings>
    <add name="NServiceBus/Transport" connectionString="host=localhost"/>
  </connectionStrings>

  <MessageForwardingInCaseOfFaultConfig ErrorQueue="error"/>

</configuration>
