@{
    ViewBag.Title = "Home";
}
<script src="~/Content/js/video.js"></script>

<div class="hero-unit" style="background-color: #2E2E2E; color: white; margin-top:5px; padding-bottom: 10px; padding-top: 10px;">
    <h1>Welcome to NService Bus Video Store!</h1>
    <p>Select what videos you would like to watch</p>
</div>

<div>
    <fieldset>
        <legend>List of available NServiceBus videos</legend>
        <form name="videosList">
            <table class="table table-hover">
                <tr ng-repeat="video in videos">
                    <td>
                        <label class="checkbox">
                            <input type="checkbox" ng-model="video.selected">
                            <h5>{{video.title}}</h5>
                            <div class="description">{{video.description}}</div>
                        </label>
                    </td>
                </tr>
            </table>
            
            <button style="margin-bottom: 50px;" ng-click="placeOrder()" class="btn btn-primary">Place Order</button>
            <span class="pull-right"><span class="label label-success">Debug me!</span> <label style="width: 80%;" class="checkbox"><input type="checkbox" ng-model="debug"><p class="text-success">Tick this box if you want to debug the code behind. We have placed breakpoints in specific places in the code to help you out become familiar with the NServiceBus way of doing things!</p></label></span>
            
            <div class="alert alert-error" ng-show="errorMessage">
                <span class="label label-important">Order failed</span> {{errorMessage}}
            </div>
        </form>
    </fieldset>
</div>
<div class="row">
    <div class="span6">
        <fieldset>
            <legend>List of orders</legend>
            <div id="userWarning" class="well">
                <span class="label label-info">Heads up!</span> <strong>Once you place an order, you have 20 secs to cancel it.</strong>
             </div>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Video(s)</th>
                        <th>Status</th>
                        <th>&nbsp;</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-hide="orders.length > 0">
                        <td colspan="4">
                            No order yet, place some orders above
                         </td>
                    </tr>
                    <tr ng-repeat="order in orders">
                        <td>{{order.number}}</td>
                        <td><div ng-repeat="title in order.titles">{{title}}</div></td>
                        <td>{{order.status}}</td>
                        <td><button type="button" ng-show="order.status == 'Pending'" ng-click="cancelOrder(order.number)" class="btn btn-small btn-danger">Cancel</button></td>
                    </tr>
                </tbody>
            </table>
        </fieldset>
    </div>
    <div class="span6">
        <fieldset>
            <legend>Orders Received</legend>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Video(s)</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-hide="ordersReceived.length > 0">
                        <td colspan="2">
                            No orders received yet
                         </td>
                    </tr>
                    <tr ng-repeat="order in ordersReceived">
                        <td>{{order.number}}</td>
                        <td><div ng-repeat="item in order.items"><a target="_blank" href="{{item.url}}">{{item.title}}</a></div></td>
                    </tr>
                </tbody>
            </table>
        </fieldset>
    </div>
</div>

