<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="MsmqTransportConfig" type="NServiceBus.Config.MsmqTransportConfig, NServiceBus" />
  </configSections>

  <MsmqTransportConfig
    InputQueue="timeoutmanager"
    ErrorQueue="error"
    NumberOfWorkerThreads="1"
    MaxRetries="5"
  />

  <appSettings>
    <add key="NameSpace" value="http://www.UdiDahan.com"/>     <!-- relevant for a Serialization of "interfaces" or "xml" -->
    <add key="Serialization" value="xml"/>     <!-- can be either "xml", or "binary" -->
  </appSettings>

</configuration>
