build
build32
binaries
obj
bin
.nu
_ReSharper.*
_UpgradeReport.*
*.csproj.user
*.resharper.user
*.resharper
*.suo
*.cache
*~
*.swp
*.user
TestResult.xml
results
CommonAssemblyInfo.cs
lib/sqlite/System.Data.SQLite.dll
*.orig
Samples/DataBus/storage
packages
PrecompiledWeb
core-only
Release
Artifacts
LogFiles
csx
