source "http://nuget.org/api/v2"
source "https://www.myget.org/F/particular"

nuget "Autofac" "3.5.2"
nuget "Castle.Core" "3.3.0"
nuget "Castle.Windsor" "3.3.0"
nuget "Common.Logging" "1.2.0"
nuget "CommonServiceLocator" "1.0"
nuget "Fody" "1.25.0"
nuget "GitVersion" "~> 1.2.0"
nuget "GitVersionTask" "~> 1.2.0"
nuget "Janitor.Fody" "1.1.0.0"
nuget "log4net" "1.2.10"
nuget "ModuleInit.Fody" "1.5.6.0"
nuget "Newtonsoft.Json" "5.0.6"
nuget "Ninject" "3.2.2.0"
nuget "Ninject.Extensions.ContextPreservation" "3.2.0.0"
nuget "Ninject.Extensions.NamedScope" "3.2.0.0"
nuget "NuGet.CommandLine" "2.8.2"
nuget "NuGetPackager" "0.1.3"
nuget "NUnit" "~> 2.6"
nuget "Obsolete.Fody" "3.1.0.0"
nuget "Particular.Licensing.Sources" "0.1.54"  
nuget "RhinoMocks" "3.6.1"
nuget "Spring.Core" "1.3.2" 