<?xml version="1.0" encoding="utf-8"?>
<Config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <DefaultScaffolders>
    <Default DefaultName="CustomScaffolder" ScaffolderName="T4Scaffolding.CustomScaffolder" />
    <Default DefaultName="CustomTemplate" ScaffolderName="T4Scaffolding.CustomTemplate" />
  </DefaultScaffolders>
</Config>