<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Apache.NMS" version="1.5.1" targetFramework="net40" />
  <package id="Apache.NMS.ActiveMQ" version="1.5.6" targetFramework="net40" />
  <package id="Iesi.Collections" version="3.3.3.4000" targetFramework="net40" />
  <package id="NHibernate" version="3.3.3.4000" targetFramework="net40" />
  <package id="RabbitMQ.Client" version="3.0.0" targetFramework="net40" />
  <package id="RavenDB.Client" version="2.0.2375" targetFramework="net40" />
</packages>