<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ExternalQueue" value="external"/>
    <add key="InternalQueue" value="internal"/>
    <add key="ErrorQueue" value="error"/>
    <add key="NumberOfWorkerThreads" value="1"/>
    <add key="MaxRetries" value="5"/>
    <add key="RemoteServer" value="messagebus"/>
  </appSettings>
</configuration>
