<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!-- Service Bus specific app setings for messaging connections -->
    <!--<add key="Microsoft.ServiceBus.ConnectionString" value="Endpoint=sb://[your namespace].servicebus.windows.net;SharedSecretIssuer=owner;SharedSecretValue=[your secret]" />-->
  </appSettings>
</configuration>