<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="AzureQueueConfig" type="NServiceBus.Config.AzureQueueConfig, NServiceBus.Azure"/>
  </configSections>

  <AzureQueueConfig ConnectionString="DefaultEndpointsProtocol=http;AccountName=myaccount;AccountKey=Eby8vdM02xNOcqFlqUwJPLlmEtlCDXJ1OUzFT50uSRZ6IFsuFq2UVErCz4I6tq/K1SZFPTOtr/KBHBeksoGMGw=="/>
</configuration>
