<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="MessageForwardingInCaseOfFaultConfig" type="NServiceBus.Config.MessageForwardingInCaseOfFaultConfig, NServiceBus.Core"/>
    <section name="UnicastBusConfig" type="NServiceBus.Config.UnicastBusConfig, NServiceBus.Core"/>
    <section name="TransportConfig" type="NServiceBus.Config.TransportConfig, NServiceBus.Core"/>
    <section name="AuditConfig" type="NServiceBus.Config.AuditConfig, NServiceBus.Core"/>
  </configSections>

  <TransportConfig MaximumConcurrencyLevel="50" MaxRetries="5"/>

  <AuditConfig QueueName="audit"/>

  <MessageForwardingInCaseOfFaultConfig ErrorQueue="error"/>
  <!-- Uncomment the following line to explicitly set the Timeout manager address -->
  <!-- <UnicastBusConfig TimeoutManagerAddress ="MyTimeoutManager"/> -->
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
