<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="Rules NServiceBus.Core project" Description="These rules control rules." ToolsVersion="16.0">
  <Rules AnalyzerId="StyleCop.Analyzers" RuleNamespace="StyleCop.Analyzers">
    <Rule Id="SA1135" Action="None" />
    <Rule Id="SA1200" Action="None" />
    <Rule Id="SA1400" Action="None" />
    <Rule Id="SA1413" Action="None" />
  </Rules>
</RuleSet>