<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="Rules NServiceBus.Core project" Description="These rules control rules." ToolsVersion="16.0">
  <Rules AnalyzerId="StyleCop.Analyzers" RuleNamespace="StyleCop.Analyzers">
    <Rule Id="SA0001" Action="None" />
    <Rule Id="SA1003" Action="None" />
    <Rule Id="SA1008" Action="None" />
    <Rule Id="SA1027" Action="None" />
    <Rule Id="SA1028" Action="None" />
    <Rule Id="SA1116" Action="None" />
    <Rule Id="SA1117" Action="None" />
    <Rule Id="SA1118" Action="None" />
    <Rule Id="SA1121" Action="None" />
    <Rule Id="SA1122" Action="None" />
    <Rule Id="SA1127" Action="None" />
    <Rule Id="SA1128" Action="None" />
    <Rule Id="SA1135" Action="None" />
    <Rule Id="SA1200" Action="None" />
    <Rule Id="SA1201" Action="None" />
    <Rule Id="SA1202" Action="None" />
    <Rule Id="SA1203" Action="None" />
    <Rule Id="SA1204" Action="None" />
    <Rule Id="SA1205" Action="None" />
    <Rule Id="SA1214" Action="None" />
    <Rule Id="SA1304" Action="None" />
    <Rule Id="SA1314" Action="None" />
    <Rule Id="SA1400" Action="None" />
    <Rule Id="SA1413" Action="None" />
    <Rule Id="SA1501" Action="None" />
    <Rule Id="SA1511" Action="None" />
    <Rule Id="SA1512" Action="None" />
    <Rule Id="SA1513" Action="None" />
    <Rule Id="SA1514" Action="None" />
    <Rule Id="SA1515" Action="None" />
    <Rule Id="SA1518" Action="None" />
    <Rule Id="SA1600" Action="None" />
    <Rule Id="SA1601" Action="None" />
    <Rule Id="SA1602" Action="None" />
    <Rule Id="SA1604" Action="None" />
    <Rule Id="SA1605" Action="None" />
    <Rule Id="SA1606" Action="None" />
    <Rule Id="SA1607" Action="None" />
    <Rule Id="SA1608" Action="None" />
    <Rule Id="SA1610" Action="None" />
    <Rule Id="SA1611" Action="None" />
    <Rule Id="SA1612" Action="None" />
    <Rule Id="SA1613" Action="None" />
    <Rule Id="SA1614" Action="None" />
    <Rule Id="SA1615" Action="None" />
    <Rule Id="SA1616" Action="None" />
    <Rule Id="SA1617" Action="None" />
    <Rule Id="SA1618" Action="None" />
    <Rule Id="SA1619" Action="None" />
    <Rule Id="SA1620" Action="None" />
    <Rule Id="SA1621" Action="None" />
    <Rule Id="SA1622" Action="None" />
    <Rule Id="SA1623" Action="None" />
    <Rule Id="SA1624" Action="None" />
    <Rule Id="SA1625" Action="None" />
    <Rule Id="SA1626" Action="None" />
    <Rule Id="SA1627" Action="None" />
    <Rule Id="SA1629" Action="None" />
    <Rule Id="SA1633" Action="None" />
    <Rule Id="SA1634" Action="None" />
    <Rule Id="SA1635" Action="None" />
    <Rule Id="SA1636" Action="None" />
    <Rule Id="SA1637" Action="None" />
    <Rule Id="SA1638" Action="None" />
    <Rule Id="SA1640" Action="None" />
    <Rule Id="SA1641" Action="None" />
    <Rule Id="SA1642" Action="None" />
    <Rule Id="SA1643" Action="None" />
    <Rule Id="SA1648" Action="None" />
    <Rule Id="SA1649" Action="None" />
    <Rule Id="SA1651" Action="None" />
  </Rules>
</RuleSet>