<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autofac" version="3.5.2" targetFramework="net45" />
  <package id="Fody" version="4.2.1" targetFramework="net452" developmentDependency="true" />
  <package id="GitVersionTask" version="4.0.0-beta0013" targetFramework="net452" developmentDependency="true" />
  <package id="Janitor.Fody" version="1.6.8" targetFramework="net452" developmentDependency="true" />
  <package id="Newtonsoft.Json" version="8.0.2" targetFramework="net452" />
  <package id="NuGetPackager" version="0.6.5" targetFramework="net452" developmentDependency="true" />
  <package id="Obsolete.Fody" version="4.4.3" targetFramework="net452" developmentDependency="true" />
  <package id="Particular.CodeRules" version="0.2.1" targetFramework="net452" developmentDependency="true" />
  <package id="Particular.Licensing.Sources" version="0.1.60" targetFramework="net452" developmentDependency="true" />
</packages>