<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autofac" version="3.5.2" targetFramework="net45" />
  <package id="Fody" version="1.28.1" targetFramework="net45" developmentDependency="true" />
  <package id="GitVersionTask" version="2.0.1" targetFramework="net45" developmentDependency="true" />
  <package id="Janitor.Fody" version="1.1.0.0" targetFramework="net45" developmentDependency="true" />
  <package id="Newtonsoft.Json" version="5.0.6" targetFramework="net45" />
  <package id="NuGetPackager" version="0.5.4" targetFramework="net45" developmentDependency="true" />
  <package id="Obsolete.Fody" version="4.0.0" targetFramework="net45" developmentDependency="true" />
  <package id="Particular.Licensing.Sources" version="0.1.54" targetFramework="net45" />
</packages>