<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="InputQueue" value="gateway"/>
    <add key="OutputQueue" value="messagebus@Udi_Mobile_2"/>
    <add key="ListenUrl" value="http://127.0.0.1:80/Gateway/"/>
    <add key="RemoteUrl" value="http://192.168.2.107:80/Gateway/"/>
  </appSettings>
</configuration>