<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="MsmqTransportConfig" type="NServiceBus.Config.MsmqTransportConfig, NServiceBus.Core" />
    <section name="UnicastBusConfig" type="NServiceBus.Config.UnicastBusConfig, NServiceBus.Core" />
  </configSections>

  <!-- 1. In order to configure remote endpoints use the format: "queue@machine" 
       2. Input queue must be on the same machine as the process feeding off of it.
       3. Error queue can (and often should) be on a different machine.
       4. The community edition doesn't support more than one worker thread.
  -->

  <MsmqTransportConfig
    InputQueue="MyServerInputQueue"
    ErrorQueue="error"
    NumberOfWorkerThreads="1"
    MaxRetries="5"
  />

  <UnicastBusConfig
    DistributorControlAddress=""
    DistributorDataAddress=""
    ForwardReceivedMessagesTo="">
    <MessageEndpointMappings>
      <add Messages="Messages" Endpoint="MyServerInputQueue" /> <!-- going to send messages to myself -->
    </MessageEndpointMappings>
  </UnicastBusConfig>
  
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="Default">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service name="Server.WebServices.CancelOrderService" behaviorConfiguration="Default">
        <!-- Uncomment the lines below to change to settings of the default serviceendpoint -->
        <!--<endpoint address=""
                  binding="basicHttpBinding"
                  contract="NServiceBus.IWcfService`2[[Messages.CancelOrder, Messages, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null],[Messages.ErrorCodes, Messages, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null]]">
        </endpoint>-->
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:9009/services/cancelOrder" />
          </baseAddresses>
        </host>
      </service>
    </services>
  </system.serviceModel>
</configuration>