<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="AzureQueueConfig" type="NServiceBus.Config.AzureQueueConfig, NServiceBus.Azure" />
    <section name="DBSubscriptionStorageConfig" type="NServiceBus.Config.DBSubscriptionStorageConfig, NServiceBus.NHibernate" />
    <section name="NHibernateSagaPersisterConfig" type="NServiceBus.Config.NHibernateSagaPersisterConfig, NServiceBus.NHibernate" />
    <section name="UnicastBusConfig" type="NServiceBus.Config.UnicastBusConfig, NServiceBus.Core" />
    <section name="MessageForwardingInCaseOfFaultConfig" type="NServiceBus.Config.MessageForwardingInCaseOfFaultConfig, NServiceBus.Core" />
    <section name="TimeoutPersisterConfig" type="NServiceBus.Config.TimeoutPersisterConfig, NServiceBus.NHibernate" />
  </configSections>
  <MessageForwardingInCaseOfFaultConfig ErrorQueue="error" />
  <AzureQueueConfig QueueName="barista" ConnectionString="UseDevelopmentStorage=true" />
  <UnicastBusConfig>
    <MessageEndpointMappings>
      <add Messages="CashierContracts.PrepareOrderMessage, CashierContracts" Endpoint="cashier" />
      <add Messages="CashierContracts.PaymentCompleteMessage, CashierContracts" Endpoint="cashier" />
      <add Messages="CustomerContracts" Endpoint="customer" />
    </MessageEndpointMappings>
  </UnicastBusConfig>
  <DBSubscriptionStorageConfig>
    <NHibernateProperties>
      <add Key="connection.provider" Value="NHibernate.Connection.DriverConnectionProvider" />
      <add Key="connection.driver_class" Value="NHibernate.Driver.SqlClientDriver" />
      <add Key="connection.connection_string" Value="Server=tcp:[server].database.windows.net,1433;Database=[db];User ID=[user]@[server];Password=[password];Trusted_Connection=False;Encrypt=True;Connection Timeout=30;" />
      <add Key="dialect" Value="NHibernate.Dialect.MsSql2005Dialect" />
    </NHibernateProperties>
  </DBSubscriptionStorageConfig>
  <NHibernateSagaPersisterConfig>
    <NHibernateProperties>
      <add Key="connection.provider" Value="NHibernate.Connection.DriverConnectionProvider" />
      <add Key="connection.driver_class" Value="NHibernate.Driver.SqlClientDriver" />
      <add Key="connection.connection_string" Value="Server=tcp:[server].database.windows.net,1433;Database=[db];User ID=[user]@[server];Password=[password];Trusted_Connection=False;Encrypt=True;Connection Timeout=30;" />
      <add Key="dialect" Value="NHibernate.Dialect.MsSql2005Dialect" />
    </NHibernateProperties>
  </NHibernateSagaPersisterConfig>
  <TimeoutPersisterConfig>
    <NHibernateProperties>
      <add Key="connection.provider" Value="NHibernate.Connection.DriverConnectionProvider" />
      <add Key="connection.driver_class" Value="NHibernate.Driver.SqlClientDriver" />
      <add Key="connection.connection_string" Value="Server=tcp:[server].database.windows.net,1433;Database=[db];User ID=[user]@[server];Password=[password];Trusted_Connection=False;Encrypt=True;Connection Timeout=30;" />
      <add Key="dialect" Value="NHibernate.Dialect.MsSql2005Dialect" />
    </NHibernateProperties>
  </TimeoutPersisterConfig>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedruntime version="v4.0" />
    <requiredruntime version="v4.0.20506" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="NHibernate" publicKeyToken="aa95f207798dfdb4" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.3.1.4000" newVersion="3.3.1.4000" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.OData" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.0.0" newVersion="5.2.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>