<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="Raven" connectionString="Url = http://localhost:8080" />
    <add name="RavenWithDefaultDBSet" connectionString="Url = http://localhost:9090; DefaultDatabase=MyDB" />
    <add name="RavenWithDatabaseSet" connectionString="Url = http://localhost:9090; Database=MyDB" />
    <add name="RavenWithRmSet" connectionString="Url = http://localhost:9090; ResourceManagerId=2f2c3321-f251-4975-802d-11fc9d9e5e37" />
  </connectionStrings>
</configuration>