<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="jQuery" version="1.5.2" targetFramework="net40" />
  <package id="jQuery.UI.Combined" version="1.8.16" targetFramework="net40" />
  <package id="jQuery.Validation" version="1.8.0" />
  <package id="jQuery.vsdoc" version="1.5.2" targetFramework="net40" />
  <package id="Microsoft.Data.Edm" version="5.2.0" targetFramework="net40" />
  <package id="Microsoft.Data.OData" version="5.2.0" targetFramework="net40" />
  <package id="Microsoft.WindowsAzure.ConfigurationManager" version="2.0.0.0" targetFramework="net40" />
  <package id="Modernizr" version="1.7" />
  <package id="System.Spatial" version="5.2.0" targetFramework="net40" />
  <package id="System.Web.Providers" version="1.0.1" />
  <package id="WindowsAzure.ServiceBus" version="2.0.1.0" targetFramework="net40" />
  <package id="WindowsAzure.Storage" version="2.0.5.1" targetFramework="net40" />
</packages>