<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- dialect is the only required NHibernate property -->
    <add key="NServiceBus/Persistence/NHibernate/dialect" value="NHibernate.Dialect.MsSql2008Dialect"/>
  </appSettings>

  <connectionStrings>
    <!-- Default connection string for all Nhibernate/Sql persisters -->
    <add name="NServiceBus/Persistence" connectionString="Server=localhost\sqlexpress;Database=nservicebus;Trusted_Connection=True;" />
  </connectionStrings>
</configuration>