<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Fody" version="1.13.12" targetFramework="net40" />
  <package id="Iesi.Collections" version="3.3.3.4000" targetFramework="net40" />
  <package id="NHibernate" version="3.3.3.4000" targetFramework="net40" />
  <package id="Obsolete.Fody" version="2.3.0" targetFramework="net40" />
</packages>