<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="UnicastBusConfig" type="NServiceBus.Config.UnicastBusConfig, NServiceBus.Core" />
    <section name="TransportConfig" type="NServiceBus.Config.TransportConfig, NServiceBus.Core" />
    <section name="MessageForwardingInCaseOfFaultConfig" type="NServiceBus.Config.MessageForwardingInCaseOfFaultConfig, NServiceBus.Core" />
    <section name="AuditConfig" type="NServiceBus.Config.AuditConfig, NServiceBus.Core"/>
  </configSections>

  <!--We don't need this one since the code in subscriber1 is overriding this section, please see ConfigOverride.cs-->
  <!--<MessageForwardingInCaseOfFaultConfig ErrorQueue="error"/>-->

  <MessageForwardingInCaseOfFaultConfig ErrorQueue="error"/>

  <!--Audit Configuration has been moved from UnicastBusConfig to AuditConfig. 
  <AuditConfig QueueName="The address to which messages received will be forwarded."
    OverrideTimeToBeReceived="The time to be received set on forwarded messages, specified as a timespan see http://msdn.microsoft.com/en-us/library/vstudio/se73z7b9.aspx"  /> -->
  <AuditConfig QueueName="audit" />
  
  <UnicastBusConfig>
    <MessageEndpointMappings>
      <add Assembly="MyMessages" Namespace="" Endpoint="MyPublisher" />
    </MessageEndpointMappings>
  </UnicastBusConfig>

  <TransportConfig MaximumConcurrencyLevel="2" MaxRetries="3"/>

</configuration>
