<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="TestConfigSection" type="NServiceBus.Integration.Azure.Tests.TestConfigSection, NServiceBus.Integration.Azure.Tests" />    
  </configSections>
  
  <TestConfigSection StringSetting="somevalue"/>
</configuration>