<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="spring">
      <section name="context" type="Spring.Context.Support.ContextHandler, Spring.Core"/>
      <section name="objects" type="Spring.Context.Support.DefaultSectionHandler, Spring.Core" />
    </sectionGroup>
    <sectionGroup name="common">
      <section name="logging" type="Common.Logging.ConfigurationSectionHandler, Common.Logging" />
    </sectionGroup>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />
  </configSections>

  <spring>

    <context>
      <resource uri="config://spring/objects"/>
    </context>

    <objects xmlns="http://www.springframework.net" >

      <object id="Builder" type="ObjectBuilder.SpringFramework.Builder, ObjectBuilder.SpringFramework" />

      <object id="Transport" type="NServiceBus.Unicast.Transport.Msmq.MsmqTransport, NServiceBus.Unicast.Transport.Msmq">
        <property name="InputQueue" value="timeoutmanager" />
        <property name="UseXmlSerialization" value="false" />
        <property name="NumberOfWorkerThreads" value="1" />
        <property name="IsTransactional" value="true" />
        <property name="PurgeOnStartup" value="false" />
        <property name="ErrorQueue" value="error" />
      </object>

      <object id="Bus" type="NServiceBus.Unicast.UnicastBus, NServiceBus.Unicast">
        <property name="Builder" ref="Builder" />
        <property name="Transport" ref="Transport" />
        <property name="ImpersonateSender" value="false" />

        <property name="MessageOwners">
          <dictionary>
          </dictionary>
        </property>

        <property name="MessageHandlerAssemblies">
          <list>
            <value>NServiceBus.Grid.MessageHandlers</value>
            <value>Timeout.MessageHandlers</value>
          </list>
        </property>

      </object>

      <object type="NServiceBus.Grid.MessageHandlers.GetNumberOfWorkerThreadsMessageHandler, NServiceBus.Grid.MessageHandlers" singleton="false">
        <property name="Bus" ref="Bus" />
        <property name="Transport" ref="Transport" />
      </object>

      <object type="NServiceBus.Grid.MessageHandlers.ChangeNumberOfWorkerThreadsMessageHandler, NServiceBus.Grid.MessageHandlers" singleton="false">
        <property name="UnicastBus" ref="Bus" />
        <property name="Transport" ref="Transport" />
      </object>

      <object type="NServiceBus.Grid.MessageHandlers.GridInterceptingMessageHandler, NServiceBus.Grid.MessageHandlers" singleton="false">
        <property name="Bus" ref="Bus" />
      </object>

      <object type="Timeout.MessageHandlers.TimeoutMessageHandler, Timeout.MessageHandlers" singleton="false">
        <property name="Bus" ref="Bus" />
      </object>

    </objects>

  </spring>

  <common>
    <logging>
      <factoryAdapter type="Common.Logging.Log4Net.Log4NetLoggerFactoryAdapter, Common.Logging.Log4net">
        <arg key="configType" value="INLINE" />
      </factoryAdapter>
    </logging>
  </common>

  <log4net debug="false">
    <appender name="console" type="log4net.Appender.ConsoleAppender" >
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%d [%t] %-5p %c [%x] &lt;%X{auth}&gt; - %m%n" />
      </layout>
    </appender>
    
    <root>
      <level value="DEBUG" />
      <appender-ref ref="console" />
    </root>

    <logger name="Spring">
      <level value="ERROR" />
      <appender-ref ref="console" />
    </logger>

    <!--<logger name="NServiceBus.Unicast.UnicastBus">
      <level value="DEBUG" />
      <appender-ref ref="console" />
    </logger>-->

  </log4net>

</configuration>
