<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Fody" version="1.25.0" targetFramework="net40" developmentDependency="true" />
  <package id="GitVersionTask" version="1.2.1" targetFramework="net40" developmentDependency="true" />
  <package id="Janitor.Fody" version="1.1.0.0" targetFramework="net40" developmentDependency="true" />
  <package id="Ninject" version="3.0.1.10" targetFramework="net40" />
  <package id="Ninject.Extensions.ContextPreservation" version="3.0.0.8" targetFramework="net40" />
  <package id="Ninject.Extensions.NamedScope" version="3.0.0.5" targetFramework="net40" />
  <package id="NuGetPackager" version="0.1.4" targetFramework="net40" />
</packages>