<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Ninject" version="3.0.2-unstable-9037" targetFramework="net40" />
  <package id="Ninject.Extensions.ContextPreservation" version="3.0.2-unstable-9009" targetFramework="net40" />
  <package id="Ninject.Extensions.NamedScope" version="3.0.2-unstable-9017" targetFramework="net40" />
</packages>