<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <section name="AzureQueueConfig" type="NServiceBus.Config.AzureQueueConfig, NServiceBus.Azure"/>
    <section name="AzureSubscriptionStorageConfig" type="NServiceBus.Config.AzureSubscriptionStorageConfig, NserviceBus.Azure"/>
    <section name="AzureSagaPersisterConfig" type="NServiceBus.Config.AzureSagaPersisterConfig, NserviceBus.Azure"/>
    <section name="AzureProfileConfig" type="NServiceBus.Config.AzureProfileConfig, NServiceBus.Hosting.Azure" />
    <section name="AzureTimeoutPersisterConfig" type="NServiceBus.Config.AzureTimeoutPersisterConfig, NServiceBus.Azure" />

    <section name="MessageForwardingInCaseOfFaultConfig" type="NServiceBus.Config.MessageForwardingInCaseOfFaultConfig, NServiceBus.Core"/>
    <section name="UnicastBusConfig" type="NServiceBus.Config.UnicastBusConfig, NServiceBus.Core"/>
    
  </configSections>

  <AzureProfileConfig Profiles="NServiceBus.Development" />

  <MessageForwardingInCaseOfFaultConfig ErrorQueue="errorqueue"/>

  <!--<AzureQueueConfig ConnectionString="DefaultEndpointsProtocol=https;AccountName={account};AccountKey={key}" QueueName="workerqueue" />
  <AzureSubscriptionStorageConfig ConnectionString="DefaultEndpointsProtocol=https;AccountName={account};AccountKey={key}" />
  <AzureSagaPersisterConfig ConnectionString="DefaultEndpointsProtocol=https;AccountName={account};AccountKey={key}" />
  <AzureTimeoutPersisterConfig ConnectionString="DefaultEndpointsProtocol=https;AccountName={account};AccountKey={key}" />
  -->

  <AzureQueueConfig ConnectionString="UseDevelopmentStorage=true" QueueName="workerqueue" />
  <AzureSubscriptionStorageConfig ConnectionString="UseDevelopmentStorage=true" />
  <AzureSagaPersisterConfig ConnectionString="UseDevelopmentStorage=true" />
  <AzureTimeoutPersisterConfig ConnectionString="UseDevelopmentStorage=true" />
  
  <UnicastBusConfig DistributorControlAddress="" DistributorDataAddress="" ForwardReceivedMessagesTo="">
    <MessageEndpointMappings>
      <add Messages="Messages" Endpoint="workerqueue"/>
    </MessageEndpointMappings>
  </UnicastBusConfig>

 
</configuration>