[*.cs]

# may be enabled in future
dotnet_diagnostic.PCR0015.severity = suggestion # A Func used as a method parameter with a Task, ValueTask, or ValueTask<T> return type argument should have at least one CancellationToken parameter type argument or one parameter type argument implementing ICancellableContext
dotnet_diagnostic.PCR0019.severity = suggestion # A task-returning method should have a CancellationToken parameter or a parameter implementing ICancellableContext
