<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="DBSubscriptionStorageConfig" type="NServiceBus.Config.DBSubscriptionStorageConfig, NServiceBus.Unicast.Subscriptions.NHibernate" />
    <section name="DBSubscriptionStorageConfig_with_no_nhproperties" type="NServiceBus.Config.DBSubscriptionStorageConfig, NServiceBus.Unicast.Subscriptions.NHibernate" />
  </configSections>

  <DBSubscriptionStorageConfig UpdateSchema="true">
    <NHibernateProperties>
      <add Key="connection.provider" Value="NHibernate.Connection.DriverConnectionProvider"/>
      <add Key="connection.driver_class" Value="NHibernate.Driver.SQLite20Driver"/>
      <add Key="connection.connection_string" Value="Data Source=.\DBFileNameFromAppConfig.sqlite;Version=3;New=True;"/>
      <add Key="dialect" Value="NHibernate.Dialect.SQLiteDialect"/>
    </NHibernateProperties>
  </DBSubscriptionStorageConfig>

  <DBSubscriptionStorageConfig_with_no_nhproperties/>
    
</configuration>