<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="TestConfigurationSection" type="NServiceBus.Core.Tests.Config.TestConfigurationSection, NServiceBus.Core.Tests" />
    <section name="UnicastBus_with_empty_ttr" type="NServiceBus.Config.UnicastBusConfig, NServiceBus.Core"/>
    <section name="UnicastBus_with_ttr_set" type="NServiceBus.Config.UnicastBusConfig, NServiceBus.Core"/>
    <section name="GatewayConfig" type="NServiceBus.Config.GatewayConfig, NServiceBus.Core" />
  </configSections>
  <connectionStrings>
    <add name="Raven" connectionString="Url = http://localhost:8080; ApiKey=b5058088-3a5d-4f35-8a64-49b06719d6ef" />
    <add name="RavenWithDefaultDBSet" connectionString="Url = http://localhost:9090; DefaultDatabase=MyDB" />
    <add name="RavenWithDefaultDBSetUsingDataBase" connectionString="Url = http://localhost:9090; Database=MyDB" />
    <add name="RavenWithRmSet" connectionString="Url = http://localhost:9090; ResourceManagerId=2f2c3321-f251-4975-802d-11fc9d9e5e37" />
  </connectionStrings>
  <TestConfigurationSection TestSetting="test"/>

  <UnicastBus_with_empty_ttr/>

  <UnicastBus_with_ttr_set TimeToBeReceivedOnForwardedMessages="00:30:00"/>


  <appSettings>
    <add key="ListenUrl" value="http://localhost:8090/Gateway/"/>
    <add key="RemoteUrl" value="http://localhost:8092/Gateway/"/>
  </appSettings>

  <GatewayConfig>
    <Sites>
      <Site Key="SiteA" Address="http://sitea.com" ChannelType="Http"/>
    </Sites>
    <Channels>
      <Channel Address="http://localhost/headquarter" ChannelType="Http"/>
      <Channel Address="ftp://localhost:21" ChannelType="ftp"/>
      <Channel Address="https://localhost/headquarter" ChannelType="Http" NumberOfWorkerThreads="3"/>
    </Channels>
  </GatewayConfig>
</configuration>
