<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="TestConfigurationSection" type="NServiceBus.Core.Tests.Config.TestConfigurationSection, NServiceBus.Core.Tests"/>
    <section name="UnicastBus_with_empty_ttr" type="NServiceBus.Config.UnicastBusConfig, NServiceBus.Core"/>
    <section name="UnicastBus_with_ttr_set" type="NServiceBus.Config.UnicastBusConfig, NServiceBus.Core"/>
    <section name="GatewayConfig" type="NServiceBus.Config.GatewayConfig, NServiceBus.Core"/>
  </configSections>
  <TestConfigurationSection TestSetting="test"/>

  <UnicastBus_with_empty_ttr/>

  <UnicastBus_with_ttr_set TimeToBeReceivedOnForwardedMessages="00:30:00"/>

  <appSettings>
    <add key="ListenUrl" value="http://localhost:8090/Gateway/"/>
    <add key="RemoteUrl" value="http://localhost:8092/Gateway/"/>
  </appSettings>

  <GatewayConfig>
    <Sites>
      <Site Key="SiteA" Address="http://sitea.com" ChannelType="Http"/>
    </Sites>
    <Channels>
      <Channel Address="http://localhost/headquarter" ChannelType="Http"/>
      <Channel Address="ftp://localhost:21" ChannelType="ftp"/>
      <Channel Address="https://localhost/headquarter" ChannelType="Http" NumberOfWorkerThreads="3"/>
    </Channels>
  </GatewayConfig>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/></startup></configuration>
