body
{
    margin: 0px;
    padding: 0px;
    background: #EEE;
    text-align: center;
    font-family: Calibri;
}

table.menu a { 
    width:111px;
    height:32px;	
    border-right:1px solid #606080;	
    display: block; 
    text-align:center;
}

div.menu 
{
    margin-top:4px;
}

div.menu a {
    color: #333333;	
    background: #ffffff url(http://images.nservicebus.com/menu_bg.png); 
    text-decoration:none; 
    font-size:14px; 
    line-height:32px; 
    font-family: Calibri, sans-serif;
    padding: 2px 5px;
}

div.menu a:link {
color: #333333; 
background: #ffffff url(http://images.nservicebus.com/menu_bg.png); 
}

div.menu a:active { 
color: #333333;
background: #ffffff url(http://images.nservicebus.com/menu_bg.png); 
}

div.menu a:visited {
color: #333333; 
background: #ffffff url(http://images.nservicebus.com/menu_bg.png); 
}

div.menu a:hover {
color: #005796;
background: #ffffff url(http://images.nservicebus.com/menu_bg.png); 
border-right:1px solid #606080; 
}

li.title
{
    font-size:16px;
    font-weight:bold;
}

.h1
{
    font-size:24px;
    font-weight:bold;
}

.h2
{
    font-size:20px;
    font-weight:bold;
}

.h3
{
    font-size:18px;
    font-weight:bold;
}

.logo {
  position:relative;
  top:-8px;
  left:22px;
  float:left;
}

#ad {
  float:right;	
  position:relative;
  right: 22px;
  top:-8px;
}

.navigation {
  position:relative;
  left: 25px;
  font-family: Calibri, sans;
  font-size: 12px;
  color: #000000;
  text-decoration: none;
  width:150px;
}
.navigation a, .navigation a:active, .navigation a:visited {
  font-family: Calibri, sans;
  font-size: 12px;
  color: #7E7E7E;
  text-decoration: none;
}
.navigation a:hover {
  font-family: Calibri, sans;
  font-size: 12px;
  color: #000000;
  text-decoration: none; 
}


h4.navbar {
  position:relative;
  left: 0px;
  font-family: Calibri, sans;
  font-size: 12px;
  color: #5F5F5F;
  text-decoration: none;
  margin-bottom: 2px;
}

table {
  font-family: Calibri, sans;
  font-size: 14px;
}

.csharpcode, .csharpcode pre
{
    font-size: small;
    color: black;
    font-family: Consolas, "Courier New", Courier, Monospace;
    background-color: #ffffff;
    /*white-space: pre;*/
}

.csharpcode pre { margin: 0em; }

.csharpcode .rem { color: #008000; }

.csharpcode .kwrd { color: #0000ff; }

.csharpcode .str { color: #006080; }

.csharpcode .op { color: #0000c0; }

.csharpcode .preproc { color: #cc6633; }

.csharpcode .asp { background-color: #ffff00; }

.csharpcode .html { color: #800000; }

.csharpcode .attr { color: #ff0000; }

.csharpcode .alt 
{
    background-color: #f4f4f4;
    width: 100%;
    margin: 0em;
}

.csharpcode .lnum { color: #606060; }

.registration .label {
    display: block;
    float: left;
    margin: 5px 10px 0;
    padding: 0;
    text-align: right;
    width: 100px;
}

.registration .validator 
{
    color:black;
}

.registration input, textarea, select {
    color: #666666;
    margin-bottom: 15px;
    padding: 5px;
    vertical-align: top;
}
/* NuGet Badge */
.nuget-badge code {
    background-color: #202020;
    border: 4px solid #c0c0c0;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    box-shadow: 2px 2px 3px #6e6e6e;
    color: #e2e2e2;
    display:block;
    font: 1.2em 'andale mono', 'lucida console', monospace; 
    line-height: 1.2em;
    overflow:auto;
    padding: 1px;
}
/* Command line code */
.commandline code {
    background-color: #202020;
    border: 4px solid #c0c0c0;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    box-shadow: 2px 2px 3px #6e6e6e;
    color: #e2e2e2;
    display:block;
    font: 1em 'andale mono', 'lucida console', monospace; 
    line-height: 1.5em;
    overflow:auto;
    padding: 1px;
}
IMG.displayed {
    display: block;
    margin-left: auto;
    margin-right: auto }
table.simpleTable {
    width: 80%;
	border-width: thin;
	border-spacing: 0px;
	border-style: solid;
	border-color: gray;
	border-collapse: collapse;
	background-color: white;
}
table.simpleTable td {
	width: 50%;
	border-width: thin;
	padding: 4px;
	border-style: solid;
	border-color: gray;
	background-color: white;
} 