<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="UnicastBus_with_empty_ttr" type="NServiceBus.Config.UnicastBusConfig, NServiceBus.Core"/>
    <section name="UnicastBus_with_ttr_set" type="NServiceBus.Config.UnicastBusConfig, NServiceBus.Core"/>
  </configSections>
  <UnicastBus_with_empty_ttr/>
  <UnicastBus_with_ttr_set TimeToBeReceivedOnForwardedMessages="00:30:00"/>
</configuration>