<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="NumberOfWorkerThreads" value="10"/>

    <add key="InputQueue" value="gateway"/>
    <add key="ErrorQueue" value="error"/>
    <add key="ForwardReceivedMessageTo" value="audit"/>

    <add key="OutputQueue" value="MyServerInputQueue@Udi_Mobile_2"/>
    <add key="ListenUrl" value="http://127.0.0.1:8080/Gateway/"/>

    <add key="RemoteUrl" value=""/> 
    <!--  Destination to which the gateway will sent messages over HTTP
          unless the client specifies an HttpTo header in their message
          in which case that will be the destination. -->

    <add key="RequireMD5FromClient" value="true"/>
    <!-- requires that Http clients pass in the Content-MD5 Http header with requests
         so that the gateway can ensure that it received the message correctly. -->
  </appSettings>
</configuration>