<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="NumberOfWorkerThreads" value="1"/>

    <add key="InputQueue" value="gateway"/>
    <add key="ErrorQueue" value="error"/>
    <add key="ForwardReceivedMessageTo" value="audit"/>

    <add key="OutputQueue" value="myserverinputqueue"/>
    <add key="ListenUrl" value="http://localhost:8090/Gateway/"/>

    <add key="RemoteUrl" value=""/> 
    <!--  Destination to which the gateway will sent messages over HTTP
          unless the client specifies an HttpTo header in their message
          in which case that will be the destination. -->

    <add key="ConnectionString" value="Data Source=UDIDAHANMOBILE2\SQLEXPRESS;Initial Catalog=model;Integrated Security=True"/>
    <!-- use the following script to create the table needed
BEGIN TRANSACTION
SET QUOTED_IDENTIFIER ON
SET ARITHABORT ON
SET NUMERIC_ROUNDABORT OFF
SET CONCAT_NULL_YIELDS_NULL ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
COMMIT
BEGIN TRANSACTION
GO
DROP TABLE dbo.Messages
GO    
CREATE TABLE dbo.Messages
	(
	DateTime datetime NOT NULL,
	ClientId varchar(50) NOT NULL,
	MD5 binary(16) NOT NULL,
	Status bit NOT NULL,
	Message varbinary(MAX) NOT NULL,
	Headers varbinary(MAX) NOT NULL
	)  ON [PRIMARY]
	 TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE dbo.Messages ADD CONSTRAINT
	DF_Messages_Status DEFAULT ((0)) FOR Status
GO
CREATE CLUSTERED INDEX IX_Messages ON dbo.Messages
	(
	DateTime
	) WITH( STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX IX_Messages_ClientID ON dbo.Messages
	(
	ClientId
	) WITH( STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX IX_Messages_MD5 ON dbo.Messages
	(
	MD5
	) WITH( STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX IX_Messages_Status ON dbo.Messages
	(
	Status
	) WITH( STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
COMMIT
    -->
  </appSettings>
</configuration>

