<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:netfx="http://schemas.microsoft.com/wix/NetFxExtension" xmlns:util="http://schemas.microsoft.com/wix/WixVSExtension">
  <Product Id="{1EFFDCD2-4B4B-439E-8296-651795EE0299}" Name="$(var.PRODUCTNAME) $(var.VERSION)" Language="1033" Version="$(var.VERSION)" Manufacturer="$(var.MANUFACTURER)" Codepage="1252" UpgradeCode="6bf2f238-54fb-4300-ab68-2416491af29f">
    <Package Description="$(var.PRODUCTNAME) - The most popular open-source service bus for .Net"
             InstallerVersion="200"
             Languages="1033"
             SummaryCodepage="1252"
             ReadOnly="no"
             Compressed="yes"
             AdminImage="no"
             Keywords="Installer"
             ShortNames ="no"
             InstallScope="perMachine"
              InstallPrivileges="elevated"/>

    <MajorUpgrade DowngradeErrorMessage="A newer version of $(var.PRODUCTNAME) is already installed." />

    <Media Id="1" CompressionLevel="high" Cabinet="NSB" EmbedCab="yes" />

    <PropertyRef Id="NETFRAMEWORK40FULL"/>
    <Condition Message="This application requires .NET Framework 4.0 full. Please install the .NET Framework then run this installer again.">
      Installed OR NETFRAMEWORK40FULL
    </Condition>
    <PropertyRef Id="VS2010_IDE_VCSHARP_PROJECTSYSTEM_INSTALLED"/>

    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="ProductFolder" Name="NServiceBus">
          <Directory Id="APPLICATIONFOLDER" Name="v$(var.VERSION)">
            <Component Id="WeNeedThisToGetAroundBug" KeyPath="yes" Guid="{AAAA0CE8-74B4-4813-AF73-A1544231E9E0}"/>
          </Directory>
        </Directory>
      </Directory>
    </Directory>

    <Feature Id="MainTree" Title="$(var.PRODUCTNAME)" Absent="disallow" AllowAdvertise="no" Display="expand" ConfigurableDirectory="APPLICATIONFOLDER">
      <ComponentGroupRef Id="RootFiles" />
      <ComponentGroupRef Id="DocFiles" />
      <ComponentGroupRef Id="BinaryFiles" />

      <Feature Id="ToolsFeature"
                Title="Tools"
                Absent="allow"
                AllowAdvertise="no">
        <ComponentGroupRef Id="ToolsFiles" />
      </Feature>

      <Feature Id="SampleFeature"
                Title="Samples"
                Absent="allow"
                AllowAdvertise="no">
        <ComponentGroupRef Id="SampleFiles" />
      </Feature>

      <Feature Id="VSIXFeature"
                Title="$(var.PRODUCTNAME) Studio"
                Absent="allow"
                AllowAdvertise="no">
        <Condition Level="1">VS2010_IDE_VCSHARP_PROJECTSYSTEM_INSTALLED</Condition>
        <ComponentGroupRef Id="VSIXFiles" />
      </Feature>
    
      <Feature Id="PrepMachine" Title="Prep My Machine" Absent="allow"
                AllowAdvertise="no" Level="1">
        <ComponentRef Id="WeNeedThisToGetAroundBug"/>
        <Feature Id="Install_DTC" Title="Install DTC" Absent="allow"
                AllowAdvertise="no" Level="1">
          <ComponentRef Id="WeNeedThisToGetAroundBug"/>
        </Feature>
        <Feature Id="Install_MSMQ" Title="Install MSMQ" Absent="allow"
                AllowAdvertise="no" Level="1">
          <ComponentRef Id="WeNeedThisToGetAroundBug"/>
        </Feature>
        <Feature Id="Install_RavenDb" Title="Install RavenDb" Absent="allow"
                AllowAdvertise="no" Level="1">
          <ComponentRef Id="WeNeedThisToGetAroundBug"/>
        </Feature>
        <Feature Id="Install_PerformanceCounters" Title="Install Performance Counters" Absent="allow"
                AllowAdvertise="no" Level="1">
          <ComponentRef Id="WeNeedThisToGetAroundBug"/>
        </Feature>
      </Feature>
    </Feature>

    <CustomActionRef Id="SetARPINSTALLLOCATION" />
    <CustomActionRef Id="InstallMsmqAction" />
    <CustomActionRef Id="OpenURL" />
    
    <?include $(sys.CURRENTDIR)\Includes\UI.wxi ?>
  </Product>
</Wix>