<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:netfx="http://schemas.microsoft.com/wix/NetFxExtension" xmlns:util="http://schemas.microsoft.com/wix/WixVSExtension">
  <Product Id="*" Name="$(var.PRODUCTNAME) $(var.VERSION)" Language="1033" Version="$(var.VERSION)" Manufacturer="$(var.MANUFACTURER)" Codepage="1252" UpgradeCode="$(var.UPGRADECODE)">
    <Package Description="$(var.PRODUCTNAME) - The most popular open-source service bus for .Net"
             InstallerVersion="200"
             Languages="1033"
             SummaryCodepage="1252"
             ReadOnly="no"
             Compressed="yes"
             AdminImage="no"
             Keywords="Installer"
             ShortNames ="no"/>

    <MajorUpgrade DowngradeErrorMessage="A newer version of $(var.PRODUCTNAME) is already installed." />

    <Media Id="1" CompressionLevel="high" Cabinet="NSB" EmbedCab="yes" />

    <PropertyRef Id="NETFRAMEWORK40FULL"/>
    <Condition Message="This application requires .NET Framework 4.0 full. Please install the .NET Framework then run this installer again.">
      Installed OR NETFRAMEWORK40FULL
    </Condition>
    <PropertyRef Id="VS2010_IDE_VCSHARP_PROJECTSYSTEM_INSTALLED"/>

    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramMenuFolder">
        <Directory Id="ApplicationProgramsFolderNServiceBus" Name="NServiceBus v$(var.VERSION)">
        </Directory>
      </Directory>
      <Directory Id="ProgramFilesFolder">
        <Directory Id="ProductFolder" Name="NServiceBus">
          <Directory Id="APPLICATIONFOLDER" Name="v$(var.VERSION)">
            <Component Id="WeNeedThisToGetAroundBug" KeyPath="yes" Guid="{AAAA0CE8-74B4-4813-AF73-A1544231E9E0}"/>
          </Directory>
        </Directory>
      </Directory>
    </Directory>

    <Feature Id="NSB_MAIN_FEATURES" Title="$(var.PRODUCTNAME)" Absent="disallow" AllowAdvertise="no" Display="expand" ConfigurableDirectory="APPLICATIONFOLDER"
             Description="$(var.PRODUCTNAME) installs a rich set of tools and samples that help you develop small to enterprise level solutions.">
      <ComponentGroupRef Id="RootFiles" />
      <ComponentGroupRef Id="BinaryFiles" />
      <ComponentRef Id="ApplicationShortcuts"/>

      <Feature Id="NSB_TOOLS"
                Title="Tools"
                Absent="allow"
                AllowAdvertise="no" Description="A series of useful tools for management of messages.">
        <ComponentGroupRef Id="ToolsFiles" />
      </Feature>

      <Feature Id="NSB_SAMPLES"
                Title="Samples"
                Absent="allow"
                AllowAdvertise="no" Description="Sample applications to get familiar on how to perform daily NServiceBus tasks.">
        <ComponentGroupRef Id="SampleFiles" />
      </Feature>

      <Feature Id="NSB_IDEINTEGRATION" Title="IDE Integration" Absent="allow"
                AllowAdvertise="no" Level="1"
               Description="Visual Studion IDE integration tools.">
        <ComponentRef Id="WeNeedThisToGetAroundBug"/>

        <Feature Id="NSB_IDEINTEGRATION_VS2010" Title="Visual Studio 2010" Absent="allow"
                        AllowAdvertise="no" Level="1"
                 Description="Visual Studio 2010 IDE integration tools.">
          <ComponentRef Id="WeNeedThisToGetAroundBug"/>
          <Feature Id="NSB_IDEINTEGRATION_VS2010_NSB_STUDIO"
                Title="$(var.PRODUCTNAME) Studio"
                Absent="allow"
                AllowAdvertise="no"
               Description="Visual Studio integrated modelling tools for NServiceBus allow you to graphically design your distributed solution.">
            <Condition Level="1">VS2010_IDE_VCSHARP_PROJECTSYSTEM_INSTALLED</Condition>
            <ComponentGroupRef Id="VSIXFiles" />
          </Feature>
        </Feature>
      </Feature>

      <Feature Id="NSB_PREP_MACHINE" Title="Prep My Machine" Absent="allow"
                AllowAdvertise="no" Level="1"
               Description="Scripts to prepare your machine to run NServiceBus.">
        <ComponentRef Id="WeNeedThisToGetAroundBug"/>
        <Feature Id="NSB_INSTALL_DTC" Title="Install DTC" Absent="allow"
                AllowAdvertise="no" Level="1"
                 Description="Installs Distributed Transaction Coordinator if required.">
          <ComponentRef Id="WeNeedThisToGetAroundBug"/>
        </Feature>
        <Feature Id="NSB_INSTALL_MSMQ" Title="Install MSMQ" Absent="allow"
                AllowAdvertise="no" Level="1"
                 Description="Installs Message Queuing if required.">
          <ComponentRef Id="WeNeedThisToGetAroundBug"/>
        </Feature>
        <Feature Id="NSB_INSTALL_RAVENDB" Title="Install RavenDb" Absent="allow"
                AllowAdvertise="no" Level="1"
                 Description="Installs RavenDB as a service into ProgramFiles\NServiceBus.Persistence and listening on port 8080.">
          <ComponentRef Id="WeNeedThisToGetAroundBug"/>
        </Feature>
        <Feature Id="NSB_INSTALL_PERF_COUNTERS" Title="Install Performance Counters" Absent="allow"
                AllowAdvertise="no" Level="1"
                 Description="Registers NServiceBus performance counters.">
          <ComponentRef Id="WeNeedThisToGetAroundBug"/>
        </Feature>
      </Feature>
    </Feature>

    <CustomActionRef Id="SetARPINSTALLLOCATION" />
    <CustomActionRef Id="InstallMsmqAction" />
    <CustomActionRef Id="OpenURL" />

    <?include $(sys.CURRENTDIR)\Includes\UI.wxi ?>
  </Product>
</Wix>