<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="MessageForwardingInCaseOfFaultConfig"
             type="NServiceBus.Config.MessageForwardingInCaseOfFaultConfig, NServiceBus.Core" />
    <section name="AuditConfig" type="NServiceBus.Config.AuditConfig, NServiceBus.Core"/>
  </configSections>

  <!--Audit Configuration has been moved from UnicastBusConfig to AuditConfig. 
  <AuditConfig QueueName="The address to which messages received will be forwarded."
    OverrideTimeToBeReceived="The time to be received set on forwarded messages, specified as a timespan see http://msdn.microsoft.com/en-us/library/vstudio/se73z7b9.aspx"  /> -->
  <AuditConfig QueueName="audit" />
  
  <system.net>
    <mailSettings>
      <smtp from="X" deliveryMethod="Network">
        <network defaultCredentials="false" 
                 host="smtp.gmail.com" 
                 port="587" 
                 userName="username"
                 password="pwd" 
                 enableSsl="true" />
      </smtp>
    </mailSettings>
  </system.net>
  
  <MessageForwardingInCaseOfFaultConfig ErrorQueue="error" />
</configuration>