<!--<?xml version="1.0" encoding="utf-8" ?>-->
<StructureMap DefaultProfile="TheDefaultProfile" Id="Main">
	<Assembly Name="StructureMap.Testing.Widget" Deploy="Client, Test, Server"/>
	<Assembly Name="StructureMap.Testing.Widget2" Deploy="Remote"/>
	<Assembly Name="StructureMap.Testing.Widget3"/>


	<Profile Name="TheDefaultProfile">
		<Override Type="StructureMap.Testing.Widget.GrandChild,StructureMap.Testing.Widget" DefaultKey="Todd"/>
	</Profile>

	<PluginFamily Type="StructureMap.Testing.Widget.IWidget" Assembly="StructureMap.Testing.Widget" DefaultKey="Red">
		<Source Type="XmlFile" FilePath="FullTesting.XML" XPath="Widgets" NodeName="Widget"/>
		<Plugin Assembly="StructureMap.Testing.Widget" Type="StructureMap.Testing.Widget.NotPluggableWidget" ConcreteKey="NotPluggable"/>
	</PluginFamily>
	
	<!-- If no source is defined, use the default MementoSource -->
	<PluginFamily Type="StructureMap.Testing.Widget.Column" Assembly="StructureMap.Testing.Widget">
		<Source Type="XmlFile" FilePath="FullTesting.XML" XPath="Columns" NodeName="Columns" />
	</PluginFamily>
	
	
	<PluginFamily Type="StructureMap.Testing.Widget.Rule" Assembly="StructureMap.Testing.Widget" DefaultKey="Blue">
		<Interceptors>
			<Interceptor Type="Singleton"></Interceptor>
		</Interceptors>
		
		<Instance Key="Red" Type="Color">
			<Property Name="color" Value="Red" />
		</Instance>
		<Instance Key="Blue" Type="Color">
			<Property Name="color" Value="Blue" />
		</Instance>
		<Instance Key="Bigger" Type="GreaterThan">
			<Property Name="Attribute" Value="MyDad" />
			<Property Name="Value" Value="10" />
		</Instance>
	</PluginFamily>

  <AddInstance PluginType="StructureMap.Testing.Widget.GrandChild, StructureMap.Testing.Widget" Type="Default" Key="Tommy">
    <Property Name="RightHanded" Value="true" />
    <Property Name="BirthYear" Value="1972" />
  </AddInstance>

  <AddInstance PluginType="StructureMap.Testing.Widget.GrandChild, StructureMap.Testing.Widget" Type="Default" Key="Todd">
    <Property Name="RightHanded" Value="true" />
    <Property Name="BirthYear" Value="1975" />
  </AddInstance>

  <AddInstance PluginType="StructureMap.Testing.Widget.GrandChild, StructureMap.Testing.Widget" Type="Leftie" Key="Trevor">
    <Property Name="BirthYear" Value="1979" />
  </AddInstance>

  <AddInstance PluginType="StructureMap.Testing.Widget.Child, StructureMap.Testing.Widget" Type="Default" Key="Tom">
    <Property Name="Name" Value="Tom" />
    <Property Name="MyGrandChild" Type="Leftie">
      <Property Name="BirthYear" Value="1984" />
    </Property>
  </AddInstance>

  <AddInstance PluginType="StructureMap.Testing.Widget.Child, StructureMap.Testing.Widget" Type="Default" Key="Marsha">
    <Property Name="Name" Value="Marsha"/>
    <Property Name="MyGrandChild" Key="Tommy"/>
  </AddInstance>


  <AddInstance PluginType="StructureMap.Testing.Widget.Child, StructureMap.Testing.Widget" Type="Default" Key="Jessica">
    <Property Name="Name" Value="Jessica"/>
    <Property Name="MyGrandChild"/>
  </AddInstance>

  <AddInstance PluginType="StructureMap.Testing.Widget.Child, StructureMap.Testing.Widget"  Type="Default" Key="Monte">
    <Property Name="Name" Value="Monte"/>
    <Property Name="MyGrandChild" Key="NotARealGrandchild"/>
  </AddInstance>

  <AddInstance PluginType="StructureMap.Testing.Widget.Parent, StructureMap.Testing.Widget" Type="Default" Key="Jerry">
    <Property Name="Age" Value="72"/>
    <Property Name="EyeColor" Value="Blue"/>
    <Property Name="MyChild" Key="Marsha"/>
  </AddInstance>

  <AddInstance PluginType="StructureMap.Testing.Widget.Parent, StructureMap.Testing.Widget" Type="Default" Key="Jackie">
    <Property Name="Age" Value="70"/>
    <Property Name="EyeColor" Value="Green"/>
    <Property Name="MyChild" Type="Default">
      <Property Name="Name" Value="Elizabeth"/>
      <Property Name="MyGrandChild" Type="Leftie">
        <Property Name="BirthYear" Value="1992"/>
      </Property>
    </Property>
  </AddInstance>

  <AddInstance PluginType="StructureMap.Testing.Widget.WidgetMaker, StructureMap.Testing.Widget" Type="Color" Key="Red">
    <Property Name="color" Value="Red" />
  </AddInstance>	


</StructureMap>
