<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="MessageForwardingInCaseOfFaultConfig" type="NServiceBus.Config.MessageForwardingInCaseOfFaultConfig, NServiceBus.Core" />
  </configSections>
  <!--  
        in order to configure remote endpoints use the format: "queue@machine"
        error queue can (and often should) be on a different machine.
  -->
  <MessageForwardingInCaseOfFaultConfig ErrorQueue="error"/>
</configuration>
