<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Fody" version="1.16.2.0" targetFramework="net40" />
  <package id="GitFlowVersion.Fody" version="0.1.9" targetFramework="net40" />
  <package id="Ninject" version="3.0.1.10" targetFramework="net40" />
  <package id="Ninject.Extensions.ContextPreservation" version="3.0.0.8" />
  <package id="Ninject.Extensions.NamedScope" version="3.0.0.5" />
</packages>