<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="AzureDataBusConfig" type="NServiceBus.Config.AzureDataBusConfig, NServiceBus.Azure" />
    <section name="AzureQueueConfig" type="NServiceBus.Config.AzureQueueConfig, NServiceBus.Azure" />
    <section name="UnicastBusConfig" type="NServiceBus.Config.UnicastBusConfig, NServiceBus.Core" />
    <section name="TransportConfig" type="NServiceBus.Config.TransportConfig, NServiceBus.Core" />
    <section name="MessageForwardingInCaseOfFaultConfig" type="NServiceBus.Config.MessageForwardingInCaseOfFaultConfig, NServiceBus.Core" />
  </configSections>
  <TransportConfig MaximumConcurrencyLevel="10" MaxRetries="5" />
  <MessageForwardingInCaseOfFaultConfig ErrorQueue="error" />
  <AzureQueueConfig QueueName="receivequeue" ConnectionString="UseDevelopmentStorage=true" PeekInterval="50" MaximumWaitTimeWhenIdle="1000" />
  <AzureDataBusConfig ConnectionString="UseDevelopmentStorage=true" />
  <UnicastBusConfig>
    <MessageEndpointMappings>
      <add Messages="Receiver.Messages" Endpoint="receivequeue" />
    </MessageEndpointMappings>
  </UnicastBusConfig>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedruntime version="v4.0" />
    <requiredruntime version="v4.0.20506" />
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.OData" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.0.0" newVersion="5.2.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>