<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="MessageForwardingInCaseOfFaultConfig" type="NServiceBus.Config.MessageForwardingInCaseOfFaultConfig, NServiceBus.Core" />
    <section name="AuditConfig" type="NServiceBus.Config.AuditConfig, NServiceBus.Core"/>
  </configSections>

  <MessageForwardingInCaseOfFaultConfig ErrorQueue="error"/>

  <AuditConfig QueueName="audit" />

  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="Default">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service name="Server.WebServices.CancelOrderService" behaviorConfiguration="Default">
        <!-- Uncomment the lines below to change to settings of the default serviceendpoint -->
        <!--<endpoint address=""
                  binding="basicHttpBinding"
                  contract="NServiceBus.IWcfService`2[[Messages.CancelOrder, Messages, Version=0.0.0.0, Culture=neutral, PublicKeyToken=null],[Messages.ErrorCodes, Messages, Version=0.0.0.0, Culture=neutral, PublicKeyToken=null]]">
        </endpoint>-->
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:9009/services/cancelOrder" />
          </baseAddresses>
        </host>
      </service>
    </services>
  </system.serviceModel>
</configuration>
