@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>SendLinks</title>
</head>
<body>
    <div>
      <li>@Html.ActionLink("SendAndBlock - a Controller uses NServiceBus", "Index", "SendAndBlock")</li>
      <li>@Html.ActionLink("SendAsync - an AsyncController uses NServiceBus", "Index", "SendAsync")</li>  
    </div>
</body>
</html>
