<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageRestore>
    <clear />
    <add key="enabled" value="True" />
    <add key="automatic" value="True" />
  </packageRestore>
  <packageSources>
    <add key="nuget.org" value="https://www.nuget.org/api/v2/" />
    <add key="particular myget.org" value="https://www.myget.org/F/particular/" />
  </packageSources>
  <disabledPackageSources />
  <config>
    <add key="DependencyVersion" value="HighestMinor" />
  </config>
  <activePackageSource>
    <clear />
    <add key="All" value="(Aggregate source)" />
  </activePackageSource>
</configuration>