<?xml version="1.0" encoding="utf-8"?>

<packages>
  <package id="Castle.Core" version="3.2.0" targetFramework="net40" />
  <package id="Castle.Windsor" version="3.2.1" targetFramework="net40" />
  <package id="Fody" version="1.16.2.0" targetFramework="net40" />
  <package id="GitFlowVersion.Fody" version="0.1.5" targetFramework="net40" />
  <package id="Iesi.Collections" version="3.3.3.4000" targetFramework="net40" />
  <package id="NHibernate" version="3.3.3.4000" targetFramework="net40" />
  <package id="NUnit" version="2.6.2" targetFramework="net40" />
</packages>